[2013-11-28 02:36] haojy opened #27 "Some keys unavailable when typing from bluetooth keyboard"
say in vim, stroke `esc`, SHIFT+{number}...

[2014-03-27 05:26] 00conan00 opened #30 "Slow operations in UI thread"
Dear developers,

I am analyzing connectbot using a static code checker. I found some potential slow operations in connectbot's UI thread.

Android documentation says this:
http://developer.android.com/training/articles/perf-anr.html

"Any method that runs in the UI thread should do as little work as possible on that thread. In particular, activities should do as little as possible in key life-cyc

[2014-04-17 11:41] ericwongcm opened #31 "Stuck at Verified host 'RSA' key: xxxxxxxx"
When using Connectbot to connect to Dropbear (SSH) installed on Openwrt based routers. It sometimes get stuck at Verified host 'RSA' key: xxxxxxxx, as shown in the attached screenshot.

You can reproduce it by connecting and disconnecting repeatedly. This bug will occur in around 20% of the time.

Irssiconnectbot, based on ConnectBot does not have such problem.
https://github.com/irssiconnectbot/i

[2014-04-25 13:14] bentley opened #32 "Failure to connect without hmac-sha1"
Recent versions of OpenSSH don’t include hmac-sha1 in the default HMACs. My copy of ConnectBot (v1.7.1-109-g716cdaa-dirty 2013.05.13) can’t connect to these servers.

This problem has hit other SSH clients. PuTTY recently released a version that works. Ghost Commander still seems to fail to connect to these servers.

[2014-04-26 05:47] #32 closed, assigned to nobody

[2014-08-31 15:45] alive4ever opened #33 "Connectbot keeps trying to connect although no more authentication methods available."
When using quick connect to a host which only accepts public key without specifying an ssh key before, Connectbot keeps trying to connect via password and keyboard interactive although it knows that no more authentication methods available.

This behavior should be fixed to prevent Connectbot client to be banned from the specified host. Connectbot should stop trying to connect when it detects no m

[2014-08-31 15:56] alive4ever opened #34 "ssh-key picker is unable to navigate to other location."
File picker used to import ssh keys cannot navigate to other location.
It will be troublesome when ssh keys are not stored in /sdcard.

For user convenience, Connectbot should be able to use internal android file picker.
To be better, connectbot should prompt for which app to be used to pick the desired ssh-key.

Tested on connectbot version git-master-2014-03-02_12-38-08

[2014-09-27 22:37] alive4ever opened #36 "No ipv6 support"
Inserting a sequence of ipv6 address such as 2620:0:1cfe:face:b00c::3 will result in connectbot warning about malformed hostname. Putting the ipv6 address in brackets has no effect. Connectbot still treats ipv6 in brackets as invalid hostname format.

[2014-09-29 20:44] foone opened #37 "Cannot type at first with swiftkey"
Swiftkey is somehow confused by the switch away from the password field to the standard key input, so keys don't appear. enter/up/down/left/right works, but no normal letters appear.

Hitting back twice to get to the menu and then going back into the connection will fix the issue.

Tested with the March-2 build on Android 4.4.3 and Swiftkey 5.0.5.95

[2014-10-13 18:53] rominf opened #38 "Import[/export] settings from[/to] ssh_config"
I have a collection of hosts. It's very convenient to have aliases for them. I'm talking about standard feature that `.ssh/config` provides.

I think that it would be nice to reuse this file to have all hosts configuration imported just by importing `.ssh/config`. I would like to have export feature too, but it's much less important than the import.

[2014-10-13 19:06] rominf opened #39 "Update README with the project status"
It seems to me that the project is unmaintained. https://github.com/rtyley/agit/wiki/SSH gives the same information. https://github.com/vx/connectbot seems to be maintained.

Can you please add some clarity by changing the README? There is no meaning to make pull requests, fill issues and so on, if the project is dead.

[2014-10-19 15:30] kruton opened #40 "L input bug"
Fix the L input bug (fill in details if needed).

[2014-10-19 15:32] kruton opened #41 "Pub Key management doesn't have an "up" navigation"
When you go into pubkey management, there is no "up" navigation available to get back to the host list. You have to hit the back arrow key.

[2014-10-19 15:32] kruton opened #42 "New icon assets"
Put the new icon assets in the codebase.

[2014-10-19 17:59] #42 closed, assigned to leonerd

[2014-10-21 07:04] #40 closed, assigned to kruton

[2014-10-21 17:43] kruton opened #44 "Initial font size is too small"
Users are often confused about why the font is so small. Make the initial font size a sane value.

[2014-10-26 21:19] treakiandroid opened #45 "changelog?"
Where can i find a changelog??

[2014-11-01 07:42] raoulbhatia opened #46 "Try all addresses for a host (including IPv6/IPv4)"
When you are on a network with broken IPv6 but working IPv4 routing, connecting to a dual stack host via DNS fails because IPv6 is prefered.

I had to manually connect to the IPv4 address to establish the connection.

It would be nice to have

a) a global and/or per host setting to specify i.e. IPv4 only host
b) maybe a long click option "Connect via IPvX this time only"

What do you think?
Raoul

[2014-11-01 07:46] raoulbhatia opened #47 "Keyboard layout from jackpal.androidterm"
Hi,

I am frequently using jackpal.androidterm, shipping with I.e. CyanogenMod.

There, the hardware volume keys are used for ctrl and also to implement i.e. cursor keys. I found this to be very effective.

Would it be possible to implement this as an alternative key layout when the volume keys are not used for font scaling?

Thanks,
Raoul

[2014-12-10 06:10] Ghosthree3 opened #48 "Connection instantly closed on server and hangs on ConnectBot"
The current Google Play version was working fine except for a small issue where it would not try to reconnect if my connection changed from WiFi to Data or vice versa. I found there were actually new releases elsewhere - like here - so tried updating to those in case it worked. Since updating, when I try to connect the terminal says only "Connecting to address:port via ssh" and hangs forever. I ch

[2015-01-02 12:28] ThiefMaster opened #49 "Ask me to unlock a key instead of skipping it"
I think the current behavior of going to keyboard-interactive authentication instead of prompting me for the key's passphrase is not very user-friendly. If I have a key chances are good that I want to use it when connecting to a host. Also, AFAIK SSH clients can offer a key's public information to a server to find out if it's going to accept it or not.

So the behavior should be like this:

- If t

[2015-01-02 19:31] kruton commented on #49
The problem with offering too many keys is that each one counts as an authentication attempt and many servers close the connection after 3 attempts.

[2015-01-02 22:29] ThiefMaster commented on #49
There could be an option to select the key which should be used for each server entry.

Anyway, are you sure that querying if a certain key is acceptable (as described on page 8 of the [RFC](http://www.ietf.org/rfc/rfc4252.txt)) "costs" an authentication attempt?

[2015-01-02 22:32] leonerd commented on #49
@ThiefMaster there already is an option to set which key is used for each server

[2015-01-02 22:33] ThiefMaster commented on #49
Ah indeed. Completely missed that. Nice.

[2015-01-04 00:29] Beolach opened #50 "Home/End/PgUp/PgDn on ASUS TF701T physical keyboard dock don't work."
I'm using an ASUS TF701T tablet, with its physical keyboard dock [1], which has a Fn modifier key to change the Left/Right/Up/Down arrow keys into Home/End/PageUp/PageDown keys respectively.  But in ConnectBot v1.8.1 2014.10.21 downloaded here on GitHub, these Home/End/PgUp/PgDn keys don't work - nothing is sent through the SSH connection to the host when I push Fn+Left/Right/Up/Down.  Using them

[2015-01-04 00:39] Beolach commented on #50
One more detail I forget to mention: using the Hacker's Keyboard [1] software on-screen keyboard to send Home/End/PgUp/PgDn through ConnectBot 1.8.1 does work as expected, showing the same control codes as IRSSI ConnectBot.  But I would much prefer using the physical keyboard...

[1]: https://f-droid.org/repository/browse/?fdid=org.pocketworkstation.pckeyboard

[2015-01-04 09:04] Beolach commented on #50
Also related to this ASUS TF701T physical keyboard, but more a feature request than a bug report: it would be nice to be able to use the Android Back button as the ESC key.  The top left key, where ESC usually is on PC keyboards, on this keyboard is an Android Back button.  [Terminal IDE] has [1] a toggle option to use the Android Back button as ESC, which works nicely w/ this physical keyboard.

[2015-01-07 22:31] rigid opened #51 "post-login command doesn't execute"
in the latest f-droid build, it seems as if no newline is sent after the post-login command, so the configured command is just printed but not executed.
when enter is pressed, the command gets executed.

[2015-01-07 22:34] rigid opened #52 "scp/sftp functionality"
it would be nice, if files could be shared via scp/sftp

[2015-01-08 14:06] leonerd commented on #51
Just include a linefeed in the configured command. You can even send multiple commands like this.
For example, I have one that sends two lines; a `cd` to go to the source of a program, then a `./foo` to execute it. Both are terminated with linfeeds.

[2015-01-08 14:06] #51 closed

[2015-01-08 14:36] rigid commented on #51
add an LF using copy/paste? i tried "\n" without luck. It would be more intuitive if one LF is appended (since nothing is executed otherwise, even when a command is entered). This would also replicate the behaviour of the native commandline ssh client.
Multiple commands could still be chained using ';' '||' or '&&' etc.
I won't reopen the issue because, in the end, it's a design decision for the d

[2015-01-08 14:59] leonerd commented on #51
Just hit the Enter key on the Android keyboard. The text box you configure the command in is multiline capable; it will accept linefeeds just fine.

[2015-01-08 15:00] leonerd commented on #51
If anything, the box is just poorly named. It isn't really a "command" to execute on the remote; it's simply a text string that will be sent *as is* to the server on the other side. If there's an interactive shell there it will interpret that as a command. But maybe there's some other program, and this text might navigate options in a text menu, or whatever. We shouldn't always append a linefeed a

[2015-01-09 00:43] pejakm opened #53 "Can't import private ed25519 key"
Error reported is `Problem parsing imported private key`. Also there is no possibility to generate this type of key. I suppose it's not supported, so if this is the case, please consider adding support for ed25519.

[2015-01-09 15:08] j-ed commented on #48
@Ghosthree3 I would recommend to increase the log level on your server to see what the reason for the disconnection is. I realized a similar problem on my server after I had played around with some Cipher and MAC parameters and disabled parameters which ConnectBot required. In my case updating to v1.8.1 solved the problem because the software now supports more secure encryption.

[2015-01-10 22:32] ckujau commented on #53
Maybe this report can be merged with https://code.google.com/p/connectbot/issues/detail?id=571 - i.e. upgrade the SSH client stack in ConnectBot?

[2015-01-10 22:38] ckujau commented on #45
Try the [commit log](https://github.com/connectbot/connectbot/commits/master).

[2015-01-16 03:00] treakiandroid commented on #45
thanks for that advice. thats better then nothing but a changelog which would group together all actually changes of the stable releases would also be nice.

[2015-01-16 14:10] tomswartz07 commented on #45
I agree.

It also does not help that [some of the commits](https://github.com/connectbot/connectbot/commit/fc0fd37d666bb8bd1452c2263cd6fdcf652230cd) are pretty cryptic as to what they actually *do*...

[2015-01-16 14:28] sixtyfive opened #54 "connectbot doesn't work with intelligence-agency-proved sshd configuration"
It would be cool if you could take a look at the ciphers and MACs mentioned in https://stribika.github.io/2015/01/04/secure-secure-shell.html. Not sure what connectbot currently "speaks", but at least chacha20-poly1305 and hmac-sha2-512-etm would be good to have!

[2015-01-18 20:36] zer0def commented on #54
On top of that, even if you relax your sshd's requirements, Connectbot silently fails when it's unable to negotiate a key exchange method, leaving you hanging as if it's still trying to connect.

[2015-01-28 11:05] nyuszika7h commented on #41
I never understood the point of that redundant duplication added in so many apps. But if you're going to add it, you should add it for settings too.

[2015-01-28 11:06] nyuszika7h commented on #45
@tomswartz07 That's just an internal refactor, it doesn't affect functionality.

[2015-01-28 11:07] nyuszika7h commented on #31
I have this issue too. You have to close the virtual keyboard, then the password input field should appear.

[2015-02-11 02:10] kveroneau opened #55 "ConnectBot isn't consistent with UNIX telnet client"
After some testing with ConnectBot and why it's not talking to my custom telnet server properly, I have come to a conclusion that the ConnectBot telnet client is actually disabling line mode without first sending the server the IAC SB packets to actually tell the server to disable such mode and go into RAW mode.  The UNIX telnet client also sends "CRLF" to the server, which ConnectBot is just send

[2015-02-11 12:27] leonerd commented on #55
On Tue, 10 Feb 2015 18:10:17 -0800
kveroneau <notifications@github.com> wrote:

Possibly?

I say that because basically I don't think any of us core-developers
have any clue on Telnet, or the code ConnectBot is using to implement
it. If you've so much as opened the file that claims to implement it,
you probably now know more than the rest of us.

Feel free to experiment with it and see where you g

[2015-02-11 15:04] tomswartz07 commented on #55
Hey @leonerd:

Long time observer of this project checking in.
I have two small issues with your latest reply.
Please understand that what follows is meant with the utmost respect.

First:
@kveroneau has taken the time to troubleshoot, narrow down the issue, and report it here.
The wording of your reply seems to indicate that you have no interest in fixing the issue and instead wish for him to fix

[2015-02-11 22:15] pastcompute opened #56 "Possible issues with app updates?"
Hi,

I am unsure if this is the correct forum:

I had connectbot installed on my rooted Acer Iconia A1-810 tablet which runs Android 4.2.2

Overnight an auto update happened and this triggered Kaspersky on `connectbot ssh-agent-patch` on `HEUR:Trojan-Ransom.AndroidOS.Svpeng.d`

After a very quick google I decided to err on the side of caution and let Kaspersky remove the infected app.  If I had mo

[2015-02-11 22:44] gittastic commented on #56
@pastcompute Are you referring to an auto update to Android OS, Kaspersky, or ConnectBot via the Google Play Store?

[2015-02-11 22:52] pastcompute commented on #56
OK, I was assuming a couple of things, sorry:

* I installed connectbot quite some time ago (December 2014). Because it is now removed I don't remember if it was installed via GooglePlay or Fdroid (the two stores I use) originally, so I need to add checking that to the list of things to do before allowing the scanner to remove an infected app.

I will try and reinstall it tonight after work

* Kas

[2015-02-11 23:13] kruton commented on #56
The "ssh-agent-patch" is a different app on Play Store, so it's possible their account has published something bad.

[2015-02-11 23:18] pastcompute commented on #56
doh, sorry :-( I should have spent a bit more time checking further before posting here...
I guess that must be annoying when lots of people build apps from your code!
(AIthough I did figure better to let you know and be wrong!)

Thanks for your help

[2015-02-11 23:18] #56 closed

[2015-02-11 23:20] pastcompute commented on #56
For anyone else reading, this is ssh-agent-patch for connectbot

https://github.com/connectbot/connectbot/pull/13
https://play.google.com/store/apps/details?id=com.madgag.ssh.agent&hl=en

[2015-02-16 03:29] rigid opened #57 "3rd party app integration"
it would be nice if there would be a way for 3rd party apps to open connections/send commands via ssh using connectbot. maybe using broadcast intents or by handling URL schemes like ssh://user@server:port

[2015-02-16 03:31] rigid opened #58 "optionally disable "close connection?" confirmation"
it would be nice if thisconfirmation could be turned off, so that the connection is automatically closed when logging out.

[2015-03-16 16:01] bjmgeek commented on #54
It might be nice to have a verbose mode, similar to ssh -v, which shows the phases of connection, KEX, etc.

[2015-03-26 18:30] kruton opened #62 "Port range is not checked in Telnet transport"
There are some crashes like this:

[code]

We should detect this before failing. Maybe we can also try to detect 192.168.x.x mistypes?

[2015-03-27 01:10] marksteward opened #63 "ECDSA host identification errors after 1.8.2 release"
I'm assuming this is because RSA keys are now ignored entirely if an ECDSA key exists. I got the "WARNING: REMOTE HOST IDENTIFICATION HAS CHANGED!" on all my hosts which have ECDSA keys after upgrading to 1.8.2.

This didn't affect hosts that only offer RSA public keys.

I'm not very familiar with ConnectBot's dependencies, but I can't see an obvious change. Whatever ConnectBot's using to verify h

[2015-03-27 04:46] quite opened #64 "color selector ui impossibly small and unusable"
On a hammerhead, resolution 1920x1080, the selector looks like this (will attach image). Also, I cannot find a way to type color codes, as an alternative.

[2015-03-27 04:46] quite commented on #64
![screenshot_2015-03-27-05-41-48](https://cloud.githubusercontent.com/assets/488679/6862170/9d809b7e-d444-11e4-8add-d472d16c2d1a.png)

[2015-03-27 11:48] #64 closed

[2015-03-27 12:11] arne182 commented on #58
Please integrate https://github.com/connectbot/connectbot/pull/23
Regards,

[2015-03-27 12:21] rigid commented on #58
indeed #23 is exactly what I meant, so this is a double - closing.

[2015-03-27 12:21] #58 closed

[2015-03-27 12:35] arne182 commented on #58
Can you merge the pull request Rigid?

[2015-03-27 12:42] rigid commented on #58
i'm afraid not. i'm not a developer :-/ I also really like to see this feature in the next release...

[2015-03-27 13:50] kruton opened #65 "abort while starting local terminal"
I've seen this on the developer console list of issues, but could never reproduce it. Here it is reproduced under art which gives us a little bit more information about what's wrong.

[code]

[2015-03-27 20:12] #44 closed

[2015-03-27 20:17] kruton commented on #64
Here's what it looks like now.
![colors-screen](https://cloud.githubusercontent.com/assets/50407/6876320/32f2857c-d4be-11e4-894d-73077ba0cabc.png)

[2015-03-27 20:31] #65 closed

[2015-03-27 20:35] kruton opened #66 "Sometimes the terminal gets stuck on the last line"
I've noticed every once in a while the terminal gets stuck on the last line even just running "ls"  I can't reproduce this reliably, though. However, user feedback on the 1.8.2 version shows that it's happening to others.

@leonerd we might need to fix this before v2.0

[2015-03-27 21:15] leonerd commented on #27
v1.8.2 should fix this now. We've extensively tested external keyboards and rewritten most of the keyboard input system.
Be aware that there are now a few more options in the settings menu; you might have to adjust them to suit your specific keyboard.

[2015-03-27 21:15] #27 closed

[2015-03-27 21:16] leonerd commented on #50
v1.8.2 adds more supported keys; specifically the Ins/Del/Home/End/PageUp/PageDown block should now be working correctly.

[2015-03-27 21:16] #50 closed

[2015-03-27 21:28] quite commented on #64
Excellent!

[2015-03-28 00:55] kruton opened #67 "No port range checking on Telnet transport"
When someone inputs a port number greater than 65535, new Socket(...) throws IllegalArgumentException.

[2015-03-29 00:05] Beolach commented on #50
Thank you!  Confirmed working w/ my TF701t physical keyboard dock.

[2015-03-29 14:33] arne182 commented on #50
Thank you! Also working with my TF700t Physical Keyboard dock.

[2015-03-30 18:20] franciscojunior commented on #31
I'm also seeing this behavior when I try to connect to my raspberry. I tested with latest 1.8.2 from google play.

I have to use a 1.7.1-from-git-master version (I'm not at home when I have it installed in my tablet to tell you the exact version) to not be affected by this problem. But I could see this problem happening again some few releases later after this one, so I had to keep this old versio

[2015-03-31 13:34] nyuszika7h commented on #31
I have a similar issue but it only happens in landscape mode, and hiding the keyboard reveals the input field for me.

[2015-03-31 13:35] kruton commented on #31
If you leave a comment here, please describe the type of server you're connecting to and any special setups you have. That will give us something to work with.

[2015-04-01 13:49] dflogeras opened #69 "Cannot connect with connectbot-1.8.2 on Samsung Galaxy S gingerbread (2.3.3)"
Since the update, when I attemp a connection (either cellular or wifi) none of my connections work.  They just hang at "Connecting to XYZ via ssh".

The app doesn't seem hung, I can abort the conection. It just makes it very difficult to use :)

[2015-04-01 13:55] kruton commented on #69
What kind of host are you connecting to and what is the sshd config? Does it have ECDSA?

[2015-04-01 15:06] dflogeras commented on #69
Linux hosts, and yes I believe they have ECDSA enabled, there is a /etc/ssh/ssh_host_ecdsa_key

[2015-04-01 17:51] kostikbel commented on #69
I have the same issue with FreeBSD host and 2.3.5.  Server-side log of sshd:
[code]
Obtaining client-side logs is somewhat non-trivial for me.

[2015-04-02 16:34] kruton commented on #69
Thanks, @kostikbel. What kind of device are you using and what version of Android?

[2015-04-02 17:45] kostikbel commented on #69
Samsung Galaxy S, 2.3.5.  Very similar to the device of the original reporter.

[2015-04-02 17:54] dflogeras commented on #69
Is there any way to downgrade in the interim?  The play store doesn't offer an option, and I don't see any binaries on GH.  Google code site is empty too.

[2015-04-03 04:51] #69 closed

[2015-04-03 04:53] kruton commented on #69
Should show up at https://github.com/connectbot/connectbot/releases in a few minutes if you want to test. I'll provide a direct link when available.

[2015-04-03 04:57] kruton commented on #69
https://github.com/connectbot/connectbot/releases/download/git-master-2015-04-02_21-51-36/ConnectBot-git-master-2015-04-02_21-51-36.apk

[2015-04-03 10:58] dflogeras commented on #69
Thanks Kenny, works for me!

[2015-04-03 17:46] kruton commented on #53
ConnectBot doesn't currently support ed25519, but it is planned.

[2015-04-03 17:50] kruton commented on #48
This might be fixed in v1.8.3. Could you try that? It is available on Google Play Store or here:
https://github.com/connectbot/connectbot/releases/download/v1.8.3/ConnectBot-v1.8.3.apk

[2015-04-03 17:58] kruton commented on #67
Already opened as #62

[2015-04-03 17:58] #67 closed

[2015-04-03 18:00] kruton commented on #63
The problem is that SSH specification says it should use the first chosen cipher. However, we can somewhat mitigate this by using the key rotation used in OpenSSH as described here: http://blog.djm.net.au/2015/02/key-rotation-in-openssh-68.html

[2015-04-03 18:48] kostikbel commented on #69
Worked for me as well, thanks.

[2015-04-03 18:51] kostikbel opened #70 "Window size might be incorrect on connect."
I see something strange still with the new version of the connectbot.  When I log in, and re-attach to a screen session which is active in some other terminal (screen -x), initial screen geometry is very wrong.  Full-screen applications like mutt output is garbled.

If I increase and then decrease the font size in connectbot, the display is corrected and full-screen apps work correctly afterward.

[2015-04-03 20:29] kruton commented on #70
This might be due to the font scaling based on screen DPI I just added to the last release.

[2015-04-03 20:30] #49 closed

[2015-04-03 20:38] kruton commented on #55
Don't panic. I know how Telnet works and how this code implements it.

[2015-04-03 20:44] kruton commented on #45
It would help with market releases.
http://keepachangelog.com/

[2015-04-03 20:47] kruton commented on #69
Okay, I pushed this as part of v1.8.3 that should be showing up in Play Store in the next day or so.

[2015-04-03 21:19] kruton commented on #54
Okay, well, there are three things we probably need to close this:
Cipher: [chacha20-poly1305@openssh.com](http://blog.djm.net.au/2013/11/chacha20-and-poly1305-in-openssh.html)
KEX: [curve25519-sha256@libssh.org](https://git.libssh.org/projects/libssh.git/tree/doc/curve25519-sha256@libssh.org.txt)
Keys: [ed25519](https://github.com/jedisct1/libsodium)

[2015-04-03 22:11] kruton commented on #53
Related to #54

[2015-04-04 04:07] bjmgeek commented on #54
you could use DH group exchange as well.

On Fri, Apr 3, 2015 at 5:19 PM, Kenny Root <notifications@github.com> wrote:

[2015-04-04 04:15] kruton commented on #54
I already wrote that in 2f4da82b29f41a2fbc9669ff4852a8160bb7a6a7

[2015-04-04 04:51] Ghosthree3 commented on #48
In the new version I am able to connect to my NAS SSH server just fine. However my Windows PC which is running Bitvise SSH Server is still failing. It definitely was working in the old, old version. Now I get the console output

Connecting to ....
Connection Lost
Connecting to ....
Key exchange was not finished, connection is lost
Key exchange was not finished, connection is lost

However it stays

[2015-04-04 05:13] kruton commented on #48
Which version are you using?

[2015-04-04 05:16] Ghosthree3 commented on #48
Yes, it updated through F-Droid. I checked and it does indeed say 1.8.3.

[2015-04-04 08:39] kostikbel commented on #70
Apparently, I was wrong, and the fact that the screen session is already attached to another terminal does not matter.  Even for the single-attach, the curses programs display is broken.  It is felt that the display size is off by one, from what I see.

And indeed, the default font size seems to be smaller than it was before the connectbot update.  Before, it was small but acceptable, now it is ha

[2015-04-05 23:08] kruton commented on #45
Okay, submitted 448addf10d132a410b7d280674fef5ed04463ed2 which adds CHANGELOG.md

[2015-04-05 23:08] #45 closed

[2015-04-06 06:46] kruton commented on #45
The latest URL is always https://github.com/connectbot/connectbot/blob/master/CHANGELOG.md

[2015-04-10 13:32] msoulatre-tt opened #71 "Impossible to add port forwarding to a non-database connection"
It is currently impossible to add a port forward to a connection that was opened from an external call (intent), and is thus not in the database (hostId == -1).
Adding one from the menu won't show anything in the list, and won't actually open the defined port forward.

[2015-04-14 15:27] CyberShadow commented on #39
ConnectBot VX is the dead project now, it seems. Is this project a superset of the VX fork? If not, are there plans to integrate the improvements in it?

[2015-04-14 16:12] kruton commented on #39
I don't know what VX had. Pull requests accepted, though.

[2015-04-14 18:20] CyberShadow commented on #39
Well, maybe you should have a look. This fragmentation is not doing anyone any good. In your place, I would consider merging the two forks.

In the past 5 years, this project had an average of 30 commits per year, while the VX bot had over a hundred per year before it died in 2013. It might be easier to rebase your changes on top of the VX fork, even.

Are they really?

Look at all the pull reques

[2015-04-14 22:38] kruton opened #73 "Add environment variable that identifies ConnectBot to remote host via SSH"
There should be some environment variable that ConnectBot could send that identifies itself. Some people may have shell RC files that do something special when ConnectBot is on the other end.

[2015-04-14 22:42] kruton opened #74 "Add support for xterm titles"
It seems like ConnectBot is lacking some support for xterm titles in its terminal emulator.

In [my case](https://github.com/kruton/dotfiles/blob/master/home/.bashrc.d/11-xterm-title.bash#L13) it seems to be `OSC 0 ; "Title" BEL` from the [Operating System Controls](http://invisible-island.net/xterm/ctlseqs/ctlseqs.html#h2-Operating-System-Controls) section of the XTerm docs.

[2015-04-14 22:43] kruton commented on #70
You can use the volume keys to adjust the font.

[2015-04-14 22:43] #70 closed

[2015-04-15 06:54] kostikbel commented on #70
Two points.  First, now I *have* to use volume keys, since right after the connection, the display is distorted.  I must increase font size and then decrease it, to get a correct picture. I.e. connected window is broken, after that I do + then -, and the window is now displayed correctly, with the same resolution as after the connect.  Trying to refresh screen from the application (e.g. ^L in mutt

[2015-04-15 18:08] kruton opened #75 "Running commands-on-connect via local shell only sometimes works"
It looks like there is a race condition where we send the commands to be run to the shell before it's actually ready.

![15 - 1 1](https://cloud.githubusercontent.com/assets/50407/7165939/9affe2ea-e35f-11e4-9f98-3824e73eccc2.png)

[2015-04-15 19:51] raineth commented on #75
This occurs for me on the official OTA build of 4.4 on my Oneplus One:

[code]

[2015-04-18 06:37] #62 closed

[2015-04-20 05:44] #46 closed

[2015-04-20 05:45] kruton commented on #63
This is going to take a bit longer, so I'll move it to the v1.8.4 release.

[2015-04-20 05:49] ckujau commented on #46
Thanks! (GitHub is missing a "Like" or "Thanks" button or something like that :-))

[2015-04-20 05:50] kruton commented on #46
I still think there are issues with IPv6 but it's difficult to tell where in the stack it's failing currently. Test it out, though.

[2015-04-20 22:52] jhgit commented on #48
Now that I updated to 1.8.3 via google play store yesterday (not sure what version it was before), I also get the 'Key exchange was not finished' symptom.  I see it when I connect to an older system (FreeBSD 4 system - no ecdsa host key support).

[2015-04-20 22:54] jhgit commented on #48
I started sshd on a FreeBSD 9 system with -o HostKey=/etc/ssh/ssh_host_dsa_key and now I get the 'Key exchange was not finished' symptom.  It seems recent changes to support ecdsa broke old host key formats perhaps?

[2015-04-20 23:14] kruton commented on #48
Try the beta v1.8.4 release at https://github.com/connectbot/connectbot/releases/download/v1.8.4/ConnectBot-v1.8.4.apk

[2015-04-21 02:26] jhgit commented on #48
Thanks.  That version (1.8.4 beta) fixes the 'Key exchange was not finished' problem.

It also seems to fix another problem I noticed where ConnectBot 1.8.3 was not 'remembering private keys in memory' (the ssh-agent-like feature).  I didn't have a chance to investigate that to see if it had already been reported and to see if I could characterize it better.  But now I don't have to since it seems

[2015-04-21 04:40] Ghosthree3 commented on #48
The beta version has also fixed my problem, cheers!

[2015-04-21 04:41] kruton commented on #48
Great. Closing this issue.

[2015-04-21 04:41] #48 closed

[2015-04-27 15:47] msoulatre-tt opened #76 "ECDSA 521 bit keys auth always fails"
Trying to authenticate the client with a 521 bit sized ECDSA key signature always fails on the client side (it fails to format the signature to the ssh format, and doesn't send anything).

Here is a logcat of what happens when I try it :
[code]

[2015-04-27 15:54] kruton commented on #76
Thanks for the report. Is this with the newest release?

[2015-04-27 22:01] rombert opened #77 "Startup screen shows incorrect license link"
The startup screen states that the program is licensed under Apache-2.0 but link points to GPL-3.0

![screenshot_2015-04-28-00-55-44](https://cloud.githubusercontent.com/assets/21237/7358925/08ba46ae-ed42-11e4-80cb-8ce8670624a9.png)

[2015-04-28 07:17] msoulatre-tt commented on #76
The logcat is from an older one (1.8.3) but I replicated the problem with the latest release on the play store before submitting the bug report.

[2015-04-30 17:03] qidizi opened #78 "it is easy to use"
please install and have a try。
one ssh client

* it can autoresize，never show new line under the keyboard；

why connectbot not？

* any more easy action。

[2015-04-30 17:27] kruton commented on #78
Is this an advertisement?

[2015-04-30 17:27] #78 closed

[2015-05-01 03:19] qidizi commented on #78
no，i mean do something maybe it is have one more better way to do 。you  team can have a try。like the auto resize the screen after the vk is show。because it is diffecut by human，resize to 51*25？ohh it is too short。80*25？it is too long too。50*50？the font is small，i can not read 。and ，what size is look like 12PX？i want to resize to smaller，pre size is 80*25？not i am very sure。but i am forget ，how siz

[2015-05-01 09:43] mrj opened #79 "Can't import private key in the new OpenSSH format"
ConnectBot 1.8.4 cannot parse keys created by ssh-keygen with the "-o" option (OpenSSH >= 6.5), which are in the new (more secure) OpenSSH format rather than the PEM format, and have the header
[code]
rather than one like
[code]

[2015-05-26 19:52] liuyingchao opened #80 "Cursor jumps to the middle of the screen after 2 rotations"
In ConnectBot 1.8.4, after choosing "Automatic" in the "Rotation Mode" setting, you can start at the bottom of a portrait view like in step1.png, then rotate to landscape as in step2.png, and then rotate back to portrait.
You'll notice the cursor moves out of the original place in step 2, and "jumps" to the middle vertically in step 3.

![step1](https://cloud.githubusercontent.com/assets/5846402/7

[2015-05-30 09:10] nyuszika7h commented on #76
I have the same issue too.

[2015-05-30 09:37] nyuszika7h opened #81 "Please make the default key size for RSA at least 2048"
When generating a new key, the default is RSA 1024, which is broken.

[2015-05-30 09:38] nyuszika7h opened #82 "The text in the "generate entropy" box is very small"
Nexus 5 (4.95"), 1080x1920, 480 DPI.

(Just to make it clear, I'm referring to the blue box.)

[2015-05-30 09:42] nyuszika7h opened #83 "Keys are shown as "Unknown Key Type" or "unknown-bit""
It seems pretty much every generated key is shown as "Unknown Key Type". Also, if I import a RSA 4096 key, it's shown as "RSA unknown-bit". The keys still work, though.

[2015-06-01 07:47] msoulatre-tt commented on #83
Really easy to fix:
https://github.com/connectbot/connectbot/blob/master/src/org/connectbot/bean/PubkeyBean.java#L170
[code]

 should be done with the publicKey instead of the privateKey.

[2015-06-01 07:50] kruton commented on #83
Good catch. Will submit that.

[2015-06-01 07:58] #83 closed

[2015-06-02 15:50] msoulatre-tt commented on #76
I've had some time to look into this, it seems that Java outputs signatures with 521-bit ecdsa keys as follows:
[code]

instead of what ConnectBot expects:
[code]
(i'm not sure about the 81, it seems constant but it's only an observation)

I tried a patch that takes that into account, skipping the 81 in this case (and making the size comparison unsigned, because signlength gets >127) and it works

[2015-06-02 16:05] kruton commented on #76
Ah, yes, that's the extended DER encoding of length in ASN.1. Since the high bit is set (0x80), the lower 7 bits are used to say how many bytes of length encoding are coming up next which is one in this case (0x01). So it should have a check for `sig[1] & 0x80 != 0` as well.

[2015-06-03 09:01] msoulatre-tt commented on #76
That makes sense, thank you for the explanation !
I was looking for signature specific ASN.1 DER encoding, and that obviously led nowhere.

[2015-06-04 14:49] oneru commented on #57
@kruton I'm planning to add connectbot integration to the replacement fwknop app. I've not been able to figure out how to access an existing saved connection using uri, possibly it isn't implemented in connectbot.

It would be ideal if the 3rd party app integration worked similar to juicessh's plugin system, that is, more intelligent than just calling an ssh uri and hoping. Would be great if the o

[2015-06-04 14:52] oneru opened #84 "strange behavior when connectbot and juicessh are both installed"
When juicessh is also installed, selecting a saved connection in connectbot launches a dialog to choose which app to handle the ssh connection. Connectbot and juicessh are both listed as options. This seems to be unintended behavior. Expected is for connectbot to launch the saved connection regardless of what other apps are installed.

[2015-06-08 11:43] gittastic opened #86 "Input field missing on Android M preview build MPZ44Q"
The input field for typing the user@server name is not visible on Connectbot 1.8.4 on Nexus 6 running the M preview build MPZ44Q. I can still type and it works, but can't see what I typed.

Obviously, this is a preview build (so is buggy) of Android, but I remember a similar input issue on L preview too, which was fixed via a Connectbot release, so thought I might as well mention it.

Happy to pro

[2015-06-08 12:18] tornewuff commented on #86
Huh, so it is. I hadn't noticed because I have a shortcut that goes straight to the only host I ever connect to :)

[2015-06-08 12:40] gittastic commented on #86
Yeah, same for me. Have been running the preview for a week and only noticed when I went to connect to a new host.

Out of interest, are the connections backed up to Google by the app (as they reappeared after factory reset) or is it Google just restoring them via it's Android voodoo device restore shenanigans?

[2015-06-09 15:12] monospacesoftware opened #87 "Elliptical curve hash algorithm lookup fails"
In the class com.trilead.ssh2.signature.ECDSASHA2Verify, the method getDigestAlgorithmForParams attempts to lookup SHA algorithms using the wrong names; it's SHA-256, not SHA256 (missing dash).

`Exception in thread "Thread-27" java.lang.RuntimeException: Unsupported algorithm SHA256
       at com.trilead.ssh2.crypto.digest.HashForSSH2Types.<init>(HashForSSH2Types.java:24)
       at com.trilead.ss

[2015-06-10 01:50] #87 closed

[2015-06-10 02:01] #84 closed

[2015-06-10 02:18] #82 closed

[2015-06-10 02:24] #81 closed

[2015-06-10 02:31] #77 closed

[2015-06-13 19:02] fabriziomazzoni opened #88 "Keyboard inactive until put in background"
When connecting to a server the keyboard will not work. The solution is to put the program in background and then bring it up again. At this point keyboard will start working correctly and typed words are seen. Happening with HTC one m8 and galaxy s4

[2015-06-13 19:03] kruton commented on #88
Some questions to narrow this down:
Do you use password authentication or pubkey?
Is this from a shortcut on the launcher or from the host list in ConnectBot?
Which version are you using?

[2015-06-15 23:12] bk2204 opened #89 "Use SHA-256 for fingerprints"
OpenSSH 6.8 provides base64 SHA-256 fingerprints.  Earlier versions of OpenSSH and ConnectBot use MD5 for fingerprints. Due to the ease of finding collisions for MD5, it's trivial to MITM a user who checks fingerprints by presenting a colliding host key.

ConnectBot should provide SHA-256 key fingerprints instead of (or in addition to) MD5 fingerprints.

[2015-06-16 23:28] liuyingchao commented on #80
@leonerd Paul, Kenny told me you are in charge of terminal emulation. Can you ping me at yingchao.liu@gmail.com? Thanks.

[2015-06-19 13:18] priitv commented on #86
removing 'android:layout_alignBaseline="@+id/transport_selection"' from act_hostlist.xml layout file (front_quickconnect EditText view) helped me. That line currently doesn't matter there that much.

[2015-06-19 15:28] mcnicholls commented on #86
I can second that removing the layout_alignBaseline fixes it for me as well.

[2015-07-09 20:55] rigid commented on #38
:+1
this would ease the distribution of a configuration to one or more non-rooted devices A LOT.
Either when an old phone is replaced or when providing pre-configured settings for multiple users.

[2015-07-10 12:23] gittastic commented on #86
FYI - It's worse on M preview 2 MPZ79M as the keyboard doesn't even come up.

![screenshot_20150710-221431](https://cloud.githubusercontent.com/assets/1715371/8618476/371f78bc-2752-11e5-9d69-0ab0d198b5e2.png)

[2015-07-12 19:51] Hammer-NL commented on #37
I'm having the exact same problem on my brand new HTC One M9. I can type in the password just fine, but no keys appear in the shell.
I'm using Android 5.0.2 and ConnectBot 1.8.4

The problem does not seem to be related to swype. I'm using the standard HTC Sense 7 keyboard, and I'm having this problem with and without "trace keyboard" (=swype) enabled.

The problem is also fixed after switching to

[2015-07-13 13:06] redbaron-gt opened #90 "Support for curve25519-sha256@libssh.org"
I set "KexAlgorithms curve25519-sha256@libssh.org" on my servers and now I cant connect with CB.
I get errors "key exchange was not finished, connection is closed. Cannot negotiate, proposals do not match". I have CM 12.1 running on OnePlus One

[2015-07-14 15:42] kruton commented on #86
Try it with the latest build in releases. I think pull request #91 fixed it.

[2015-07-14 17:53] jklein24 opened #92 "Add a tab button where ctrl and esc are"
The default android virtual keyboard has no tab button, so this would be convenient.

[2015-07-14 17:57] jklein24 opened #93 "Add a disconnect button to the active connection notification"

[2015-07-14 19:50] jklein24 opened #94 "Help topics are not translated and names have no spaces"

[2015-07-14 19:59] gittastic commented on #86
Yep, it's fixed in latest build. Many thanks!

[2015-07-14 19:59] #86 closed

[2015-07-15 17:25] #92 closed

[2015-07-15 18:28] ilf commented on #52
I second this. VX ConnectBot Code for it is here: https://github.com/vx/connectbot/blob/master/src/com/trilead/ssh2/SCPClient.java

[2015-07-15 18:32] ilf opened #96 "virtual keyboard: provide functionality for arrow keys"
For a terminal, arrow key navigation is helpful. VX ConnectBot has a nice virtual keyboard with the four arrows up, down, left and right. I would love to see this in ConnectBot, too.

[2015-07-21 14:45] Beolach commented on #74
Since ConnectBot defaults to using TERM=screen, you might want to consider also using the screen's different title setting escape sequence, at least when using screen emulation in the preferences.  In your linked xterm-title.sh, see the `_preexec_screen_title` below `_preexec_xterm_title`.

Gentoo's /etc/bash/bashrc uses PS1 to set the window title every time bash displays the prompt, which in Con

[2015-07-21 15:15] leonerd commented on #74
Title support would fall out fairly naturally from switching to `libvterm`

[2015-07-23 21:53] jklein24 opened #104 "Handle mouse scroll wheel"

[2015-07-25 09:12] adb2001 commented on #96
+1
I'm using google keyboard by default but I'm forced to switch to swiftkey when using connectbot because arrow keys is a must have in bash and vi.

[2015-07-27 18:26] BrianABarnes opened #108 "bluetooth keyboard"
Letter and numbers keys aren't registering on samsung s5 running 5.1.1

[2015-08-03 17:43] kruton commented on #93
Closed by #103.

[2015-08-03 17:43] #93 closed

[2015-08-03 17:44] kruton commented on #108
Using which build?

[2015-08-03 17:48] BrianABarnes commented on #108
LMY47X G900TUVU1F0F6

[2015-08-03 17:53] kruton commented on #108
I mean of ConnectBot itself. Is it the one from the Play Store or downloaded from release pages here?

[2015-08-03 18:14] BrianABarnes commented on #108
Oops :-) from the store. Also, I just noticed that Terminal Emulator does
the same thing.

There is a difference between knowing the path and walking the path.
On Aug 3, 2015 1:53 PM, "Kenny Root" <notifications@github.com> wrote:

[2015-08-10 11:47] readyblue opened #123 "Please add MOSH support"
please add MOSH support from: https://mosh.mit.edu/
Thanks

[2015-08-11 21:55] jklein24 commented on #96
Fixed by https://github.com/connectbot/connectbot/pull/120. Thanks, @alescdb!

[2015-08-11 21:57] jklein24 commented on #104
Fixed by https://github.com/connectbot/connectbot/pull/106

[2015-08-11 21:57] #104 closed

[2015-08-11 21:57] #96 closed

[2015-08-16 11:14] alescdb opened #135 "Closing a connection does not go back to main screen (on git-master-2015-08-14_15-47-46)"
When I close a single connection with the shell exit command on tablet (Nexus 9) the terminal screen stay open and a unique navigation tab is showed with the name of my ex-connection. The "Home" button in action bar is not displayed, so it impossible to go back to the connection screen.
When two connections are openned, closing a connection with exit cmd, the tab does not close.

This seems to be

[2015-08-17 17:23] jklein24 commented on #135
I'm trying to repro this, but no luck so far. Here's what I'm doing:
1) Open up two connections.
2) Use "exit" close one. That one is closed and only the other is shown with no tabs.
3) Use "exit" to close the other remaining terminal. Closes and goes back to the hostlist as expected.

I've seen this once or twice, but I'm having trouble getting it to happen consistently. Do you have a good repro?

[2015-08-17 18:08] alescdb commented on #135
I think this has something to do with the "Close on disconnect" in the connection settings, I have FCs when I check this.
For the centered tab, I always have this, landscape and portrait as soon as I have more than one connection.

[2015-08-17 18:13] jklein24 commented on #135
I don't think the tab centering is really a bug. That's just the default positioning for tabs. I can move them over, though. "Close on disconnect" seems like a likely candidate. If I enable that for both of my hosts, I can repro the crash. Without it, everything seems normal.

[2015-08-17 18:25] alescdb commented on #135
I'm not sure yet, but It seems the activity is completely locked (but no FC) only with an ssh connection with "Close on disconnect" checked.
Tabs should not be centered, usually they fill parent width.

[2015-08-17 18:28] jklein24 commented on #135
I think I tracked this down. It looks like there's a codepath a missed when trying to make sure all the disconnect listeners were triggered on the UI thread. I'll send out a PR shortly.

[2015-08-17 22:27] jklein24 commented on #135
It looks like the reason that the tabs are centered on Nexus 9 is:

https://android.googlesource.com/platform/frameworks/support.git/+/master/design/res/values-sw600dp/styles.xml

Default styles with minimum screen width of 600 dp is to center. I can change that, but is it really the right thing to do from a UX perspective if this is the default Material implementation? I do admit that it looks a

[2015-08-18 04:40] alescdb commented on #135
I've never seen centered tabs like this :-)

ActionBar Tabs :
https://developer.android.com/guide/topics/ui/actionbar.html
Design Guidelines :
https://www.google.com/design/spec/components/tabs.html#tabs-usage

[2015-08-18 04:52] jklein24 commented on #135
There are several examples of the centered tabs on the material design guidelines you linked to there. The ActionMode tabs (and all the NavigationMode stuff) has been deprecated in favor of TabLayout and common navigation patterns. See the documentation for any tab-related functions on https://developer.android.com/reference/android/support/v7/app/ActionBar.html.

Also keep in mind that the tabs a

[2015-08-19 20:07] indvd00m opened #137 "Function keys on Hacker's Keyboard don't work"
Numeric digits are entered instead.

https://code.google.com/p/connectbot/issues/detail?id=693

[2015-08-20 18:21] jklein24 commented on #135
FWIW, it's pretty easy to get the tabs to align left if that's what we want in sw600dp too. Here's what is looks like:

![device-2015-08-20-111853](https://cloud.githubusercontent.com/assets/1393755/9391759/88ffca42-472d-11e5-8e4a-e595a62cec5c.png)

I'm still trying to track down why the indicator is being buggy, but haven't gotten too far. Digging into the TabLayout implementation more...

[2015-08-20 20:20] jklein24 commented on #137
The function keys on hacker keyboard seem to work fine for me on Master, although I can confirm that the current version on the play store isn't working. @kruton, when are you planning on pushing a new version?

[2015-08-20 20:27] kruton commented on #137
I just pushed 1.8.5 to production.

[2015-08-20 20:35] jklein24 commented on #137
Awesome! @indvd00m, let us know if you still have this problem after the update.

[2015-08-21 08:34] indvd00m commented on #137
@jklein24, 1.8.5 - still don't work.

[2015-08-21 11:59] leonerd commented on #137
You should be aware that Hackers' Keyboard does a *lot* of very weird things internally when it knows it's talking to ConnectBot, by sending ESC-prefixed escape sequences, rather than real keypresses. This I believe was to work around a bunch of behaviour where CB didn't handle the keys correctly, but since it now does, that logic should be removed.

[2015-08-22 04:38] kruton opened #144 "Allow holding down arrow keys to repeatedly press"
From a review on Google Play Store:

Holding down the arrow keys to scroll quickly sounds like a good idea.

[2015-08-22 04:39] kruton commented on #144
@alescdb if you're interested!

[2015-08-22 09:20] alescdb commented on #144
I'm on it ! :-)

[2015-08-22 14:41] alescdb commented on #144
It was harder than I initially thought because of HorizontalScrollView.
Done in PR #134.

If you do not wish to merge the HScroll keyboard and the keyboard repeater and/or you prefer having two different PR, please let me know.

[2015-08-23 05:27] kruton commented on #144
Awesome, thanks. I haven't really looked at hscroll yet from a code point of view, but I like the concept. I'll try to get to reviewing tomorrow.

[2015-08-23 09:57] alescdb opened #146 "Android 6.0 "Auto Backup" : Security considerations"
Since API 23 is released, it is now (very) easy to implement "Auto Backup" for hosts, keys and config on  Google Drive (with encryption).
From what I see, we can't let the user decide if he want to backup or not his data to Drive.
I personally like the idea of having all my data restored when I flash a new ROM or buy a new device, and I'm not too afraid of Google Drive.
ConnectBot data may be very

[2015-08-24 22:31] jklein24 commented on #135
https://github.com/connectbot/connectbot/pull/148 fixes the disappearing tab indicator. The bug has been fixed in the support library, but hasn't been released yet.

[2015-08-24 23:00] kruton commented on #135
I'll leave this open until we update our support library version.

[2015-08-24 23:17] jklein24 commented on #135
Sent out https://github.com/connectbot/connectbot/pull/149 to align the tabs left because I agree it looks nicer.

[2015-08-24 23:20] jklein24 commented on #137
Hmm it seems that this still works fine building from HEAD, but not in production. The diff between those 2 is pretty small. @kruton is there something in the build/release process that might be causing this?

[2015-08-24 23:50] jklein24 commented on #146
+1 - I think auto backup would be pretty sweet, but we might want it as opt-in instead of on by default. Maybe we could prompt the user the first time they use the app asking if they want to enable it (similar to what some apps do with analytics opt-in). As you mentioned, we'll also need to thing about which data is OK to sync in general for security reasons.

[2015-08-25 00:09] kruton commented on #137
Maybe Hacker's Keyboard has a switch internally based on ConnectBot version numbers.

[2015-08-25 00:10] jklein24 commented on #146
It seems like maybe we could let the user decide whether to backup his/her data by optionally storing data in the NoBackupFilesDir:

[code]

[2015-08-25 00:11] jklein24 commented on #146
cc: @bengolds

[2015-08-25 00:32] kruton opened #150 "Scrolling does not reset timer for the soft key bar"
Scrolling the soft key bar does not reset the timer, so it will disappear when you're scrolling.

[2015-08-25 00:32] kruton commented on #150
@alescdb I should have tested this during review :)

[2015-08-25 08:09] alescdb commented on #150
Yep that why I increased the autohide timeout :-)
I'll try to implement a onTouchEvent but they may be a conflict with repeatable keys.
Also when using the last git-master-release on Marshmallow preview 3, repeatable keys have a strange behaviour in some circontances.

[2015-08-25 09:58] alescdb opened #151 "FC while connecting on 4.3"
On latest git-master-release, on a Galaxy Nexus (stock 4.3) I got a FC while connecting to "local" (haven't tryed other type of connection) :

[2015-08-25 16:35] bengolds commented on #146
I don't actually think we need to worry about this. The app data backup is a system-level setting; if the user doesn't want their app data backed up then they turn that off at the system level.

[2015-08-25 16:54] kruton commented on #151
Hm, that should never happen. `grantpt` has been in the Android NDK since the first release.

[2015-08-25 16:58] alescdb commented on #146
Users may still want to backup other apps, but may not want to backup their private keys to Drive (especially if they are not password protected).
This is only a guess, I think Drive (with two-factor auth) is more safe than a phone :-)

[2015-08-25 16:58] kruton commented on #151
Ah, I see. Gradle is building for android-21 and the definition has changed from `__inline__` to non-`__inline__`.

[2015-08-25 20:44] jklein24 opened #153 "Rotating sometimes switches the active tab"
It looks like the requested index sticks around when the device is rotated so tab selection always wants to revert back to the original selection for which the ConsoleActivity was launched.

[2015-08-28 20:24] Jonny007-MKD opened #158 "Move special key bar above virtual keyboard"
Hello,

I am only using the virtual keyboard.
Is there a way for Connectbot to determine the height of the keyboard so that the bar with special keys (ESC, arrows) can be displayed above?
It would also be nice to automatically adjust the size of the terminal.

[2015-08-29 13:29] jplitza commented on #158
I think the issue you are mentioning is a long-standing one that is related to the "fullscreen" setting. Do you have it enabled? If so, please disable it and see if the behavior is fixed.

[2015-08-29 13:45] jplitza opened #159 "Option for showing virtual keys permanently"
I like the new feature of having virtual arrow keys very much! That much, in fact, the I would love to have the bar show up at all times, not only when touching. That way, it would only take one touch to use the keys and I could look where to touch while typing other stuff without first having to touch the console.

[2015-08-29 19:43] Jonny007-MKD commented on #158
Yes, this fixed it! Thank you!
I suppose there is no way to hide the Status bar and still have the keys above the keyboard, is it?
I think it would be nice if this issue would be mentioned in the description of the setting.

Am 29. August 2015 15:29:03 MESZ, schrieb Jan-Philipp Litza <notifications@github.com>:

[2015-08-30 17:10] wp9015362 commented on #159
+1

[2015-08-30 17:22] wp9015362 opened #161 "Virtual keyboard is using Emojis to display left and right arrow keys"
Hello,

the virtual keyboard in ConnectBot is using the "arrow backward" (U+25C0) Emoji to display the arrow left key and is using the "arrow forward" (U+25B6) Emoji to display the arrow right key.

Here is a screenshot which shows the issue:

![Image](https://cloud.githubusercontent.com/assets/7558360/9568498/86222e0c-4f4b-11e5-9112-36f6c7f4aa71.png)

Tested on an LG G2 running the stock LG Andro

[2015-08-30 17:42] wp9015362 opened #162 "Please use Google Material icons on virtual keyboard"
Hello,

apparently [the virtual keyboard in ConnectBot seems to be using Emojis for the arrow keys](https://github.com/connectbot/connectbot/pull/127).

But obviously [this doesn't seem to work quite correct](https://github.com/connectbot/connectbot/issues/161).

The virtual keyboard also is using a rather ugly icon for the keyboard button.

Could you please use the Google Material icons for those

[2015-08-30 17:46] wp9015362 commented on #161
PS:

I just found the following pull request after having submitted this issue:

https://github.com/connectbot/connectbot/pull/127

So, this actually seems to be intentional.

But it still doesn't explain why it's only using the Emojis on the left and right arrow keys.

Anyway, IMHO you should rather use the Google Material icons for the virtual keyboard, which would also fix this issue.

I've sub

[2015-08-30 17:48] wp9015362 opened #163 "Please add a light theme"
Hello,

currently ConnectBot only has a dark theme.

Would there be any chance you could also add a light theme?

It would be much appreciated.

Regards

[2015-08-30 17:56] wp9015362 commented on #150
Probably related:

https://github.com/connectbot/connectbot/issues/159

Regards

[2015-08-30 18:06] wp9015362 commented on #162
PS:

For the tabulator key, you could also use the "ic_keyboard_tab" Material icon, see:
https://www.google.com/design/icons/#ic_keyboard_tab

Regards

[2015-08-30 18:15] wp9015362 commented on #159
When the virtual keyboard would be displayed permanently, it's transparency should also be disabled IMHO.

[2015-08-30 19:38] wp9015362 opened #164 "Keyboard button on virtual keyboard does not close keyboard"
Hello,

the keyboard button on the virtual keyboard can be used to open the keyboard.

But when the keyboard is open and the keyboard button on the virtual keyboard is being pressed, then the keyboard does not close.

Would there be any chance you could fix that and make the keyboard button on the virtual keyboard a proper toggle to open and close the keyboard?

There would also be a proper [Mater

[2015-08-30 19:51] wp9015362 opened #165 "Please add an option to adjust the height (the size) of the virtual keyboard"
Hello,

could you please add an option to ConnectBot which would allow to adjust the height (i.e. the size) of the virtual keyboard, so that it would be possible to increase it's size?

At the moment the buttons on the virtual keyboard are rather small.

Regards

[2015-08-30 20:00] wp9015362 opened #166 "Please make buttons on virtual keyboard light up when being pressed (for a visual feedback)"
Hello,

could you please make the buttons on the virtual keyboard light up when they are being pressed?

That way there would be a visual feedback and the user would be able to see that the button actually has been pressed.

Currently there is no visual feedback at all when the buttons are being pressed, which results in a rather poor UX IMHO.

Could you please do something about it?

Regards

[2015-08-30 20:19] alescdb commented on #162
Hi wp9015362,

I just tried with MD icons, but it looks a little ugly to me :-)
I may need to tweek margins & image size.

![keys](https://cloud.githubusercontent.com/assets/5646825/9569218/18eed1cc-4f65-11e5-9f14-db89314bb2ab.png)

[2015-08-31 05:32] wp9015362 opened #167 "ConnectBot theme (toolbar, status bar, accent color etc.) does not reflect colors of ConnectBot logo"
Hello,

currently the ConnectBot theme does not reflect the colors of the ConnectBot logo:

![Image](https://raw.githubusercontent.com/connectbot/connectbot/master/icons/icon64.png)

But I think it should.

Could you please make the ConnectBot theme (toolbar, status bar, accent color etc.) make reflect the colors of the ConnectBot logo, as described in the Google Material Design guidelines over th

[2015-08-31 05:34] wp9015362 commented on #163
You can see some guidelines for a light theme in the Google Material Design guidelines over there:

https://www.google.com/design/spec/style/color.html#color-themes

Regards

[2015-08-31 05:45] wp9015362 opened #168 "Please use floating action button for pubkeys"
Hello,

I am not a fan of the current UI for adding hosts.

But I have a suggestion to improve it:

The Google Material Design offers a UI element called "Floating Action Button".

You can read about it in the Google Material Design guidelines over there:

https://www.google.com/design/spec/components/buttons-floating-action-button.html

Could you please use a floating action button for adding new

[2015-08-31 05:50] wp9015362 commented on #163
PS:

When the light them is in use, the FG and BG colors for the terminal should also be inverted by default of course. So, FG should be black and BG should be white.

Regards

[2015-08-31 06:02] wp9015362 opened #169 "ConnectBot should use switches instead of checkboxes to adhere to Google Material Design Guidelines"
Hello,

currently connectbot is using checkboxes in the settings.

But the Google Material Design Guidelines clearly say:

So, could you please replace them with switches?

Regards

[2015-08-31 06:41] wp9015362 opened #170 "Toolbar only says "ConnectBot" when being in the settings and when being on the edit host screen"
Hello,

when being in the settings, the toolbar only says "ConnectBot".

But it should say "Settings".

Could you please fix it?

Regards

[2015-08-31 06:46] wp9015362 opened #171 "Please remove "ConnectBot: " from the toolbar and simply make it say on which screen you are"
Hello,

in the toolbar, ConnectBot says on which screen you are ([except for when being in the settings and on the edit host screen](https://github.com/connectbot/connectbot/issues/170)), i.e.:

- ConnectBot: Hosts
- ConnectBot: Pubkeys
- ConnectBot: Colors
- ConnectBot: Help
- ConnectBot: Help - Hints
- ConnectBot: Help - PhysicalKeyboard
- ConnectBot: Help - ScreenGestures
- ConnectBot: Help - V

[2015-08-31 06:50] wp9015362 opened #172 "Toolbar does not show hostname"
Hello,

in the terminal, the toolbar does not show the hostname, it only shows the ConnectBot logo and says "ConnectBot".

You can see what I mean on the following screenshot:

![Image](https://cloud.githubusercontent.com/assets/7558360/9573724/ec1149f4-4fbf-11e5-95c4-e860839cac38.png)

Could you please remove the logo and simply make it say the hostname instead (i.e. replacing "ConnectBot" with t

[2015-08-31 07:03] wp9015362 opened #173 "Toolbar is missing back button on Pubkeys / Colors / Settings / Help screen"
Hello,

when being in the terminal, the toolbar has a back button, as you can see in the following screenshot (highlighted in red circle):

![Image](https://cloud.githubusercontent.com/assets/7558360/9573621/c603120c-4fbe-11e5-81df-56f0d2aec4ba.png)

But the back button is missing from the toolbar when being on the Pubkeys / Colors / Settings / Help screen.

Could you please fix it and add the bac

[2015-08-31 07:06] wp9015362 opened #174 "Font in toolbar is not bold"
Hello,

in any other app that I know of, the toolbar is using bold font.

But ConnectBot is not using a bold font in it's toolbar.

Could you please fix it and use a bold font in the toolbar?

It would be much appreciated.

Regards

[2015-08-31 07:14] wp9015362 commented on #173
PS:

The back button is also missing from the toolbar on the Help - Hints / Help - PhysicalKeyboard / Help - ScreenGestures / Help - VirtualKeyboard screen.

Regards

[2015-08-31 07:30] wp9015362 opened #175 "Font size in list of hosts is way too big"
Hello,

the font size in the list of hosts is way too big.

This becomes especially noticeable when inreasing the Android system font size above the standard value, because then it becomes really huge and the hostnames even become cut off.

Other apps that I know of are using a more reasonable font size.

So, could you please reduce the font size in the list of hosts?

Hint: The font size that is

[2015-08-31 09:00] wp9015362 commented on #166
PS:

IMHO there should also be some kind of visual indication that if the CTRL button is being pressed on the virtual keyboard, that it kinda remains pressed until you press another button like the "C" key for example.

Because, as far as I can tell, if you want to press CTRL + C for example, then you need to tap the CTRL button, but you don't need to hold it because it remains being pressed until

[2015-08-31 12:42] wp9015362 opened #176 "Please add "Quit" button to main menu"
Hello,

ConnectBot has a main menu which offers the following options/buttons:

- Sort by color/name
- Manage Pubkeys
- Colors
- Settings
- Help

Could you please add another button/option called "Quit" or "Exit" to the main menu which disconnects from all hosts and closes ConnectBot?

It would be much appreciated.

Regards

[2015-08-31 13:00] wp9015362 opened #177 "Closing ConnectBot via Android's built-in recent apps screen does not close ConnectBot when it's connected to a host"
Hello,

when you try to close ConnectBot via Android's built-in recent apps screen while ConnectBot is connected to a host, ConnectBot disappears from Androids's built-in recent apps screen, but still continues to run in the background and remains connected to the host.

Could you please fix that, so that it actually is getting closed and disconnects from all hosts?

It would also be nice if you c

[2015-08-31 16:34] #153 closed

[2015-08-31 16:36] kruton commented on #151
Fixed by #156

[2015-08-31 16:36] #151 closed

[2015-08-31 18:19] wp9015362 commented on #170
PS:

The same is also true for when being on the edit host screen.

When being on the edit host screen, the toolbar only says "ConnectBot".

But it should say "Edit host".

Regards

[2015-09-01 23:17] kruton commented on #177
We could do this using [`onTaskRemoved(Intent)`](https://developer.android.com/reference/android/app/Service.html#onTaskRemoved(android.content.Intent)) but I'm not sure if that would surprise users or delight them. @bengolds

[2015-09-02 05:50] alescdb commented on #177
I often use "Recently" (https://play.google.com/store/apps/details?id=eu.chainfire.recently) to cleanup my recent apps, but I don't want ConnectBot to close my connection(s), so it should be optional.
Separating connections in recent apps could be a good idea (like Chrome do with it's tabs).

[2015-09-02 20:18] MikeRivers opened #179 "Adjusting Font Size"
I had an older version that allowed me to change the font size on the phone screen, though I can't say as I remember how I did it. The current version is way too small. When I try to resize using the menu, it always goes back to 80x25.

I saw something, probably in the Help menu, for using the volume control to change size, but that doesn't do anything.

Phone is a ZTE 740, Android 4.1.2. What am

[2015-09-03 23:09] wp9015362 commented on #162
Thanks a lot!

Well I think the new Material icons actually look quite nice, but:

you might be correct on that one. But I also wouldn't mind if the icons/buttons would be a bit larger. As you already might have seen, I actually submitted a feature request asking for an option to increase the size of the virtual keyboard, since the virtual keyboard buttons are quite small at the moment, see: https

[2015-09-04 08:06] alescdb opened #183 "Crash while disconnecting (unable to reproduce)"
While playing with ConnectBot trying to find a bug with ActionBar title no set properly, I came across an FC while disconnecting from the context menu in hosts list. I was connected to multiple hosts (SSH).

[code]

[2015-09-04 21:29] #175 closed

[2015-09-05 03:55] garrison opened #188 "hostmask does not allow hostnames with underscores"
`hostmask` (as defined [here](https://github.com/connectbot/connectbot/blob/ad15d09a0734adc07324cba10527407c91c3d9b5/app/src/main/java/org/connectbot/transport/SSH.java#L104) and [here](https://github.com/connectbot/connectbot/blob/b0bea6930e0539a3b1fe07672499bdc91eb84cd8/app/src/main/java/org/connectbot/transport/Telnet.java#L70)) does not match hostnames that contain underscores.  Because of thi

[2015-09-05 06:28] kruton commented on #188
RFC 952 and RFC 1123 still dictate you can't have an underscore in a host name. Is this for a Windows machine or something?

[2015-09-05 12:44] garrison commented on #188
Thanks for the info, which I was clearly unaware of.  In my case, my network hostname at work was chosen by the previous user of the machine, and it contains an underscore.  The network administrator refuses to change a hostname once it has been registered on the network, so the name of this machine on the internet (given via DHCP) violates these RFCs.  I find it hard to imagine I have the only su

[2015-09-05 18:20] alescdb opened #191 "Gray font in host list is bigger than other"
#190 & #185

![screenshot_20150905-200850](https://cloud.githubusercontent.com/assets/5646825/9700662/55bc307c-540b-11e5-858a-a5fafb81185a.png)

[2015-09-05 20:29] wp9015362 commented on #174
PS:

The Google Material Design guidelines appear to say that it should be "Medium 20sp", see:

https://www.google.com/design/spec/style/typography.html

Regards

[2015-09-05 20:39] wp9015362 commented on #94
+1

I agree that the help topics ("PhysicalKeyboard" / "ScreenGestures" / "VirtualKeyboard") should be written with spaces inbetween.

Also, some (probably) related issues:

https://github.com/connectbot/connectbot/issues/171
https://github.com/connectbot/connectbot/issues/170

Regards

[2015-09-06 06:50] #191 closed

[2015-09-06 07:39] alescdb opened #193 "Issue 5.1.1 and lower"
After #192 I got a FC at startup on my Nexus 9 - 5.1.1
Everything is OK on my Nexus 5 (M)

It seems you must pass a Context to setTextAppearance() < API 23

[code]

[2015-09-06 19:40] kruton commented on #193
You can't directly call a method that doesn't exist because it must pass
the verifier. So since the called method didn't exist in previous (API <
23) releases, the calling method can't be verified.

You can have an "if" statement that if it passes calls another method since
the Java interpreter semantics guarantee it doesn't need to be verified
until it is called.

I'm not sure this is worth tryin

[2015-09-07 07:50] alescdb commented on #193
I'm not sure I understand your answer.

Both methods exist in the SDK used by ConnectBot (23), so the compiler (or preprocessor, I don't know how it is called for java) can't evaluate the statement at compilation time. So `if(API < 23)` should be evaluate at execution time and use the correct method for the user framework ?

| I'm not sure this is worth trying to fix right now.

Do you mean this s

[2015-09-10 00:25] garrison commented on #188
Note also that the current regular expression also prevents underscores (and other characters) in the domain name, not just the hostname.  So it is incorrect anyway.

[2015-09-11 17:41] #193 closed

[2015-09-11 23:30] #41 closed

[2015-09-12 00:04] kruton commented on #173
Fixed this with #197

[2015-09-12 00:04] #173 closed

[2015-09-12 00:09] kruton commented on #167
Started this in an upcoming pull request.
![material-cb](https://cloud.githubusercontent.com/assets/50407/9828802/c4fc995e-58a7-11e5-9468-2570736df577.png)

[2015-09-12 05:02] #167 closed

[2015-09-12 06:32] alescdb opened #199 "Last (git) build always ask if I wan't to connect to ssh host (host fingerprint)"

[2015-09-12 09:27] aykevl opened #200 "Local shell is not closed when disconnecting"
After the shell is closed via the 'Disconnect' menu item, the process of that shell is not closed or killed. In the screenshots below, I opened a shell, ran the command, disconnected, opened the shell again, and ran the same command. You see in the second screenshot that the 'sh' process is still alive, which is unexpected.

This is also a problem when using 'su' in CyanogenMod: the '#' mark stays

[2015-09-12 09:59] wp9015362 opened #201 "ConnectBot logo does not use colors from Google Material Design Color Palette"
Hello,

as already mentioned in:

https://github.com/connectbot/connectbot/issues/167

the ConnectBot logo does not use colors from the [Google Material Design Color Palette](https://www.google.com/design/spec/style/color.html#color-color-palette).

It looks like the current logo was designed by @twll:

https://github.com/connectbot/connectbot/pull/43

?

Would there be any chance you could change

[2015-09-12 09:59] wp9015362 opened #202 "Host list connection indicator does not use colors from Google Material Design Color Palette"
Hello,

@khorimoto recently redesigned the host list via:

https://github.com/connectbot/connectbot/pull/185

As already mentioned in:

https://github.com/connectbot/connectbot/issues/167

I noticed that the connection indicator (the green/red circle that shows if a host is connected or disconnected) does not use colors from the [Google Material Design Color Palette](https://www.google.com/design/

[2015-09-12 10:00] wp9015362 commented on #167
Thank you.

But (no offence):

You have set the primary/dark primary colors to cyan (#00BCD4 / #0097A7).

Cyan is not part of the ConnectBot logo/"brand".

The frame around the ConnectBot logo is rather light blue (which would also be available from the [Google Material Design Color Palette](https://www.google.com/design/spec/style/color.html#color-color-palette)).

But the light blue colors in th

[2015-09-14 04:03] fat-tire commented on #146
Automatically sending ssh keys to the cloud by default is nuts, IMO.  Especially since this is opt-out and happening in the background and without the user's knowledge.  How would someone know to shut this off system wide unless they were REALLY paying attention?!

Why is this even being discussed?  Any kind of auto forwarding of ssh keys to the cloud should be disabled and an update sent to the p

[2015-09-14 09:54] jklein24 commented on #167
+cc @khorimoto

[2015-09-14 11:10] tornewuff commented on #146
Full-data backup is only enabled for applications that have been updated to target M, specifically to give developers the opportunity to disable backup if it's not appropriate, so there's no rush to do this urgently before M is released, it just needs to be looked at alongside any other M changes when updating the targetSDK.

[2015-09-14 14:38] jklein24 commented on #167
https://www.materialpalette.com/ is pretty helpful for this fyi

[2015-09-14 15:35] kruton commented on #200
Thanks for the report.

[2015-09-14 15:39] #199 closed

[2015-09-14 16:51] #200 closed

[2015-09-14 16:53] kruton commented on #172
I think this was already fixed by 6ef56cfec3ce625d1a16ca960417dac19ebca45c.

[2015-09-14 16:53] #172 closed

[2015-09-14 16:56] kruton commented on #176
I think "Disconnect all" would be useful, but not a "Quit" button. That goes against Android UX guidelines.

[2015-09-14 16:58] khorimoto commented on #167
I'll take this on.

[2015-09-14 17:08] kruton commented on #179
Are you using the volume keys while in the console activity (e.g., SSH into the host, etc) and without the menu activated?

[2015-09-14 17:09] kruton commented on #177
I can see having a "Disconnect all" button, but a "Quit" button is against the UX guidelines in Android.

[2015-09-14 17:11] kruton commented on #171
Already done in 3ee07166ee1aa584686b631341cb5dabc32359e5.

[2015-09-14 17:11] #171 closed

[2015-09-14 17:11] kruton commented on #170
Already done in 3ee07166ee1aa584686b631341cb5dabc32359e5.

[2015-09-14 17:11] #170 closed

[2015-09-14 17:17] kruton commented on #166
The buttons light up when they are pressed now, but "Ctrl" does not show it is pressed yet. There is visual indication in the cursor indicator (this has been there since 2009 or so).

[2015-09-14 17:18] kruton commented on #165
This wouldn't be an option because there are too many options already. We can increase the size to the recommended touch targets.

[2015-09-14 17:19] kruton commented on #164
There used to be no way to tell if the IME was open or not. I'm not sure if there is a way now. That's the reason why it only opens the keyboard since your state will get out of sync if you try to track it.

[2015-09-14 17:20] kruton commented on #163
Switching themes at runtime is problematic.

[2015-09-14 17:21] kruton commented on #162
Home is a key on the keyboard which usually has the function of going to the beginning of the line.

[2015-09-14 17:25] kruton commented on #161
Argh, these geometric shapes were well before Emoji were standardized. I'm not sure why they co-opted this to code point to be in the Emoji group.

[2015-09-14 17:37] MikeRivers commented on #179
On 9/14/2015 10:08 AM, Kenny Root wrote:

I don't remember. I doubt it. But I eventually found a setting for the
host that specified the font size and that did the trick. I use the
program on only one host and for text only, so for me the simplest
solution is best.

--
For a good time call http://mikeriversaudio.wordpress.com

[2015-09-14 18:14] fat-tire commented on #146
I think you might be right about the targetSDK-- though it's not listed as a requirement anywhere in the description.  Instead, it says:

and

To me the above reads like it's enabled for all apps running on Android M, regardless of what they're targeting.  It does also mention that if the backup legacy service is being used, that it will continue to function.   That may apply to CB due to the line

[2015-09-14 19:42] #179 closed

[2015-09-14 19:43] #158 closed

[2015-09-14 19:43] #135 closed

[2015-09-14 19:45] #88 closed

[2015-09-14 22:21] rhansby commented on #202
Taking this.

[2015-09-14 23:49] wp9015362 commented on #163
Why?

There are several other (open source) apps which allow to switch between dark and light themes, like for example [Amaze File Manager](https://github.com/arpitkh96/AmazeFileManager), [TextSecure](https://github.com/WhisperSystems/TextSecure), [spaRSS](https://github.com/Etuldan/spaRSS), [Kore](https://github.com/xbmc/Kore), [OsmAnd](https://github.com/osmandapp/Osmand), [primitive ftpd](https

[2015-09-14 23:50] jklein24 commented on #167
Could also be a good starter bug for @rhansby

[2015-09-15 00:33] wp9015362 commented on #167
Shouldn't it be reopened then :wink:?

[2015-09-15 08:41] wp9015362 commented on #167
PS:

@khorimoto / @rhansby :

It would be nice if you could also add a light theme while being at it, as requested in:

https://github.com/connectbot/connectbot/issues/163

That would be much appreciated.

Regards

[2015-09-15 11:51] alescdb commented on #163
I've just implement a Light/Dark in one of my applications.
I had problems using it before setContentView(). It seems preferable to use it before onCreate().

[code]

[2015-09-15 22:02] rhansby commented on #167
I'm taking this instead of @khorimoto.

@wp9015362, what would you suggest instead for the accent color? (instead of the deep orange)

[2015-09-16 18:15] rhansby opened #207 "Pubkey management view list uses old icons"
ConnectBot should use material design icons like https://www.google.com/design/icons/#ic_lock_open and https://www.google.com/design/icons/#ic_lock_outline

Screenshots attached:

![pubkey non md](https://cloud.githubusercontent.com/assets/1788374/9913927/3d4c1f0a-5c64-11e5-8998-add936ff383c.png)

![pubkey non md 2](https://cloud.githubusercontent.com/assets/1788374/9913931/3ef265f8-5c64-11e5-9a83

[2015-09-16 18:18] rhansby opened #208 "Pubkey generation view uses uncolored primary action button"
The primary action button, "Generate", is uncolored. This likely goes against Material Design guidelines and is visually confusing.

Screenshot attached:
![pubkey uncolored button](https://cloud.githubusercontent.com/assets/1788374/9913990/9444b2ea-5c64-11e5-9fbd-c52e03dc5f1a.png)

[2015-09-16 18:23] rhansby opened #210 "Bell volume adjustment slider is too wide"
See https://www.google.com/design/spec/components/sliders.html# for better ways to do the slider.

See attached screenshot.

![bell volume awkward](https://cloud.githubusercontent.com/assets/1788374/9914160/4cedc674-5c65-11e5-9375-532849b89140.png)

[2015-09-16 18:32] rhansby commented on #168
The floating action button would also greatly benefit the Port forwarding and Pubkey management views. (or any others I haven't noticed)

See screenshots:

![adding awkward](https://cloud.githubusercontent.com/assets/1788374/9914403/9ed7df50-5c66-11e5-9a0c-92b5373d665e.png)

![adding awkward 2](https://cloud.githubusercontent.com/assets/1788374/9914409/a0e73f3e-5c66-11e5-904b-954b02368057.png)

[2015-09-16 18:33] khorimoto commented on #168
I'm taking this.

[2015-09-16 21:51] wp9015362 commented on #208
@rhansby :

Now that you mention it:

The pubkey generation view also has two checkboxes. They should also be changed to switches to adhere to the Google Material Design Guidelines:

https://github.com/connectbot/connectbot/issues/169
https://github.com/connectbot/connectbot/issues/205

Regards

[2015-09-16 21:53] wp9015362 commented on #169
The pubkey generation view is also affected. The pubkey generation view has two checkboxes. They should also be changed to switches to adhere to the Google Material Design Guidelines, see following issue for a screenshot:

https://github.com/connectbot/connectbot/issues/208

Regards

[2015-09-16 21:58] wp9015362 commented on #168
Thank you.

I came across the following article today:

http://www.androidauthority.com/android-design-support-library-overview-636694/

Maybe it can be helpful.

Regards

[2015-09-16 22:22] wp9015362 opened #212 "When opening pubkey generation view, keyboard is immediately being displayed and hides some options, essentially making them invisible at first glance"
Hello,

when opening the pubkey generation view, the cursor immediately and automatically jumps to the "Nickname:" field and opens the keyboard, which is then hiding some options, which essentially makes them invisible at first glance (slightly depending on the keyboard height).

Could you please fix that by making the cursor not jump automatically to the "Nickname:" field when opening the pubkey

[2015-09-16 22:33] rhansby commented on #212
I believe it is fine as is. The keyboard does block lower items, but it is very intuitive (and necessary) to scroll down in order to complete the action. See my below screenshots:

![pubkey keyboard](https://cloud.githubusercontent.com/assets/1788374/9920357/45b6faba-5c88-11e5-989c-caa8f0b4cbdb.png)

![pubkey keyboard 2](https://cloud.githubusercontent.com/assets/1788374/9920358/4870c704-5c88-11e5

[2015-09-16 23:36] wp9015362 commented on #167
Well, you might have a point in regards to the complementary color.

I played a bit around with some blue (blue and light blue) and orange (orange and deep orange) colors in [Amaze File Manager](https://github.com/arpitkh96/AmazeFileManager). In Amaze File Manager, the primary and accent colors can be configured by the user (it let's you choose between some specific predefined colors). As you can

[2015-09-17 00:13] wp9015362 commented on #167
@rhansby :

PS:

Screw what I just said and screw orange :wink:. I've played some more in Amaze File Manager. This time with cyan and blue / light blue and with teal and blue / light blue.

Without orange it looks much better and actually fits to the colors of the ConnectBot logo.

Some screenshots:

![Image](https://cloud.githubusercontent.com/assets/7558360/9921716/fc6309a4-5ce0-11e5-9d84-f66956

[2015-09-17 10:40] sebunger opened #214 "Function keys on BT keyboard not working"
I have a Logitech BlueTooth keyboard and regularly use it with my Nexus 7 tablet (running either stock 5.1.1 or CM 12.1). This works really great with all apps including (for the most part) CB. However, in CB the function keys do not work. They do work when using Android Terminal Emulator even when connecting to a remote host via SSH. Unfortunately the latter does not have the many nice features o

[2015-09-17 20:27] rhansby commented on #174
@wp9015362, can you please clarify which element of the app you're referring to as the toolbar? (a screenshot would be preferred)

[2015-09-17 21:07] rhansby commented on #210
The current code is good for previous API versions (screenshots below) so we need to make sure fixes to this do not break the app on old devices.

APIv10
![bell volume api10](https://cloud.githubusercontent.com/assets/1788374/9945944/35880f22-5d45-11e5-9c5e-7eb96b5fbaf5.png)

APIv14
![bell volume api14](https://cloud.githubusercontent.com/assets/1788374/9945945/37168c42-5d45-11e5-97b0-a2ff5b044631

[2015-09-17 22:26] wp9015362 commented on #174
@rhansby :

Yes, of course, here is a screenshot of ConnectBot 1.8.6:

![Image](https://cloud.githubusercontent.com/assets/7558360/9947373/ec4729e2-5d99-11e5-83c0-2b0a0785b298.png)

As you can see, I have highlighted the area which shows the toolbar (sometimes also being referred to as appbar) in a red rectangle. I am not really sure if there is any difference between the term "toolbar" and the te

[2015-09-17 22:51] wp9015362 commented on #174
PS:

@rhansby :

Since I am still on version 1.8.6 from the Google Play Store, could it be possible that this issue was already fixed with:

https://github.com/connectbot/connectbot/commit/3ee07166ee1aa584686b631341cb5dabc32359e5

?

Because, when I am looking at the screenshots that you and @kruton have posted in https://github.com/connectbot/connectbot/pull/205 and in https://github.com/connectb

[2015-09-17 23:37] wp9015362 opened #217 "Connection status indicators on host list could be replaced with Material icons"
Hello,

similar to what @rhansby suggested in https://github.com/connectbot/connectbot/issues/207 and fixed with https://github.com/connectbot/connectbot/pull/216, the connection status indicators on the host list (the green and red circles next to the hostnames) could also be replaced with Material icons.

This would then also fix https://github.com/connectbot/connectbot/issues/202.

For the conn

[2015-09-17 23:38] wp9015362 commented on #202
This issue could be solved by replacing the connection status indicators on the host list with Material icons, as requested in:

https://github.com/connectbot/connectbot/issues/217

Regards

[2015-09-17 23:52] khorimoto commented on #217
I agree material icons would be nice, but I'm not sure the ones provided are actually good to use since they already have other implications (e.g., Chromecast, Wi-Fi, etc). Any other icon ideas?

[2015-09-17 23:59] rhansby commented on #174
You're correct, the screenshots that I have been posting are self-compiled, and ahead of the Play Store release version.

After reverting through various git commits, it does look like #197 solved this issue.

[2015-09-18 00:02] rhansby commented on #174
@kruton please close this issue.

[2015-09-18 00:04] rhansby commented on #217
Closely related to #202

[2015-09-18 00:12] wp9015362 commented on #217
@khorimoto :

Some more ideas:

Connected status:

[ic_leak_add](https://www.google.com/design/icons/#ic_leak_add)
or:
[ic_play_circle_filled](https://www.google.com/design/icons/#ic_play_circle_filled)
or:
[ic_play_circle_outline](https://www.google.com/design/icons/#ic_play_circle_outline)
or:
[ic_play_arrow](https://www.google.com/design/icons/#ic_play_arrow)

Disconnected status:

[ic_leak_rem

[2015-09-18 00:39] khorimoto commented on #217
What about this:

Green [ic_check_circle] (https://www.google.com/design/icons/#ic_check_circle) for connected.

Red [ic_remove_circle] (https://www.google.com/design/icons/#ic_remove_circle) for disconnected.

[2015-09-18 00:54] wp9015362 commented on #169
The edit host view is also affected. You can reach the edit host view by tapping and holding on a host in the host list and then selecting "Edit host".

The edit host view has four checkboxes which also should be changed to switches to adhere to the Google Material Design Guidelines.

Regards

[2015-09-18 01:40] wp9015362 commented on #217
@khorimoto :

No offence, but, personally, I do not like those icons for this purpose.

I also think colors should be avoided for the Material icons.

Actually, there is a specific Google Material Icon Guide, see:

https://google.github.io/material-design-icons/

And regarding colors it says:

Here is the part from the Google Material Design System Icons Guideline which the Google Material Icon Gu

[2015-09-18 01:43] khorimoto commented on #217
Ah - thanks for pointing out the rules about colors.

Hmm, I still don't think the ic_leak_add icon looks good. I wonder if we could create our own icons.

[2015-09-18 01:57] wp9015362 commented on #217
And what do you think about the idea to use just one icon and display it as either active (when connected) or inactive (when disconnected) by adjusting the opacity?

A quick Google search came up with the following website, which apparently has some additional "Material" icons "from the community", see:

https://materialdesignicons.com/

It also has a link to GitHub in the upper right corner which

[2015-09-18 08:46] #207 closed

[2015-09-18 08:48] #169 closed

[2015-09-18 10:41] wp9015362 commented on #217
@khorimoto :

There is an open feature request in the repository mentioned above which would very probably be related to this issue, see:

https://github.com/Templarian/MaterialDesign/issues/369

I think the icons in https://github.com/Templarian/MaterialDesign/issues/369#issuecomment-139826493 already look very promising for the ConnectBot host list connection status indicator. How about you?

Re

[2015-09-18 11:12] wp9015362 commented on #217
PS:

Another related icon request:

https://github.com/Templarian/MaterialDesign/issues/124

Regards

[2015-09-18 11:16] wp9015362 commented on #217
And one more:

https://github.com/Templarian/MaterialDesign/issues/427

:wink:

But I guess the most promising one would still be:

https://github.com/Templarian/MaterialDesign/issues/369

Regards

[2015-09-18 16:31] wp9015362 commented on #217
@khorimoto :

In https://github.com/Templarian/MaterialDesign/issues/369 I have asked @CoDEmanX for a suggestion.

He kindly came up with this:

What do you think?

Regards

[2015-09-18 16:35] khorimoto commented on #217
Nice - that one looks good to me. @kruton, @alescdb, @rhansby, @jklein24?

[2015-09-18 16:57] kruton commented on #217
Why did the monitors get bigger when it disconnected? :) There are three states, though: not yet connected, connected, disconnected. I think I originally intended for disconnected to be an indicator that maybe you were connected but a network event caused the connection to be dropped.

[2015-09-18 17:27] rhansby commented on #217
what about:

not yet connected: https://www.google.com/design/icons/#ic_not_interested
![ic_not_interested_black_36dp](https://cloud.githubusercontent.com/assets/1788374/9966139/dade1e8a-5def-11e5-9615-239004684dfa.png)

connected: https://www.google.com/design/icons/#ic_check_circle

disconnected: https://www.google.com/design/icons/#ic_error

[2015-09-18 17:30] khorimoto commented on #217
I like connected, but it might be hard to differentiate between not yet
connected and disconnected. But, then again, it's already a little hard to
differentiate between the current icons too :)

On Fri, Sep 18, 2015 at 10:27 AM Ryan Hansberry <notifications@github.com>
wrote:

[2015-09-18 17:31] wp9015362 commented on #217
@rhansby :

@khorimoto alreasy suggested that in https://github.com/connectbot/connectbot/issues/217#issuecomment-141296436. But, as already mentioned in https://github.com/connectbot/connectbot/issues/217#issuecomment-141303294, I personally do not like those icons for this purpose.

Sorry, my mistake, unfortunately I posted the "lan-laptops4" icon at first for the connected icon, even though it

[2015-09-18 18:30] rhansby opened #222 "Summaries missing for SwitchPreferences in host editing list"
See below screenshots.

Bad in API23
![edithost23](https://cloud.githubusercontent.com/assets/1788374/9967643/a962bb00-5df8-11e5-91f3-87fec21eaa83.png)

Good in API10
![edithost10](https://cloud.githubusercontent.com/assets/1788374/9967644/aaa57c14-5df8-11e5-8aa0-ea00886aa829.png)

[2015-09-18 18:38] wp9015362 commented on #217
Well, I really do not like the check circle icon for the connected status, but here is a possible solution for the not yet connected and disconnected discernibility issue and also a rather nice alternative for the connected status, see:

Not yet connected ([ic_access_time](https://www.google.com/design/icons/#ic_access_time)):
![ic_access_time](https://raw.githubusercontent.com/google/material-des

[2015-09-18 18:48] rhansby opened #224 "ActionBar is missing in subviews of main view"
I'm not sure what caused this regression. Perhaps switching to AppCompatActivity? @khorimoto?

See Settings screenshot as of commits 3de02e7 and f8a77f6:
![actionbar f8a77f6](https://cloud.githubusercontent.com/assets/1788374/9967992/d56d3caa-5dfa-11e5-85c1-c3d36ceedded.png)

And then the same view as of master right now:
![actionbar master](https://cloud.githubusercontent.com/assets/1788374/99680

[2015-09-18 18:52] khorimoto commented on #224
I don't think this has to do with AppCompatActivity because that only
changed the HostListActivity, not the PreferencesActivity. And on
HostListActivity, there IS an ActionBar.

On Fri, Sep 18, 2015 at 11:48 AM Ryan Hansberry <notifications@github.com>
wrote:

[2015-09-18 18:58] rhansby commented on #224
There is still an ActionBar on the main view, but all other subviews are missing ActionBars where they previously had them:

master:
![pubkeymaster](https://cloud.githubusercontent.com/assets/1788374/9968305/922ef260-5dfc-11e5-9c4b-61e3468403d9.png)

f8a77f6:
![pubkey f8a77f6](https://cloud.githubusercontent.com/assets/1788374/9968318/9ca941be-5dfc-11e5-8f91-3ffa1e85aeb0.png)

[2015-09-18 19:00] rhansby commented on #224
I suspect HostListActivity becauseI believe it is the parent of all these subviews (not sure about that though)

[2015-09-18 19:03] wp9015362 commented on #224
@kruton :

In https://github.com/connectbot/connectbot/issues/173 you said that the missing back button issue would have been fixed by https://github.com/connectbot/connectbot/issues/173.

But on the screenshots posted by @rhansby the back button is still missing.

Are you sure this was fixed with https://github.com/connectbot/connectbot/pull/197?

Regards

[2015-09-18 19:04] wp9015362 commented on #173
@kruton :

Looks like this issue is not fixed, see:

https://github.com/connectbot/connectbot/issues/224

As you can see on those screenshots, the back button is still missing.

Regards

[2015-09-18 19:45] wp9015362 commented on #217
@khorimoto :

He has posted an update, see:

https://github.com/Templarian/MaterialDesign/issues/369#issuecomment-141533645

You like it?

Regards

[2015-09-18 22:52] jklein24 opened #225 "Explore forwarding mouse events to connected host"

[2015-09-18 23:46] rhansby commented on #224
We found the way to fix this issue, and I'm working on it now. The fix I'm working on will resolve this issue and #173. :)

Here's a screenshot of the fix in action:
![fix](https://cloud.githubusercontent.com/assets/1788374/9973269/9bd804be-5e24-11e5-87ba-91585d6cc418.png)

It will take a bit of time for me to polish but for now you can see it in progress at https://github.com/rhansby/connectbot/c

[2015-09-19 01:15] wp9015362 opened #226 "Navigation Drawer for ConnectBot?"
Hello,

currently ConnectBot is using a Menu on the right side of the app bar on the hosts view (utilizing the ["ic_more_vert" Material icon](https://www.google.com/design/icons/#ic_more_vert))  to navigate through the app (to navigate to the Manage Pubkeys, Colors, Settings, Help views).

However, most modern Material Design apps today are using a Navigation Drawer for this, see:

https://www.goo

[2015-09-19 01:36] wp9015362 commented on #226
PS:

Instead of only offering to navigate to the Hosts / Manage Pubkeys / Colors / Settings / Help view, the Navigation Drawer could also offer to navigate to the hosts themself (i.e. replicating the navigation part of the Hosts list in a way), which actually could become quite handy.

Regards

[2015-09-20 12:08] alescdb opened #227 "Intempestive closed connection reopening"
1 - Start ConnectBot
2 - Open a connection
3 - Return to host list
4 - Open a second connection (local)
5 - Type "exit" and answer "Yes" if asked (second connection is now closed)
6 - Power off device
7 - Power on device
8 - Second connection is reopening.

It also happens when you switch to another task and come back (onResume() ?)

[2015-09-20 12:20] alescdb opened #228 "Connection closed detection"
This may be related to issue #227

1 - Start ConnectBot
2 - Open a connection
3 - Power off device
4 - Power on device
5 - Type "exit" to close the connection
6 - Console say "Connection closed" but no button yes/no to close the activity (need to menu -> Disconnect)

[2015-09-21 15:37] RichJeanes commented on #76
Is there any word on this getting patched? It still seems to be present in the current version.

[2015-09-22 15:08] wp9015362 commented on #217
@khorimoto :

The icons have now been added to the collection.

Here are two variants, which I think should be used for ConnectBot.

Either this variant:

Pending:
[timer-sand](https://materialdesignicons.com/icon/timer-sand)
![timer-sand](https://cloud.githubusercontent.com/assets/7558360/10022174/c3d8d914-614b-11e5-8146-4d1a8d8abf86.png)
Connected:
[ethernet-cable](https://materialdesignicons.co

[2015-09-22 17:40] bengolds commented on #217
rhansby, I'd prefer your choices here. If "disconnected" signals a problem, the "error" exclamation mark is a good match for it. The check circle feels like a great fit here as well.

Also, colorizing the icons is totally acceptable; they even have instructions for [doing so here](https://google.github.io/material-design-icons/). The existing color scheme is a good fit here and communicates well,

[2015-09-22 21:27] rhansby opened #231 "Empty HostList feels awkward"
With the addition of the FAB in #219, a "quick-connect box" is no longer displayed at the bottom of the view, making the language of the below screenshot incorrect:

However, I'm not sure if we should simply update the language to "use the button below..." as that seems like bad UX. We could remove the blurb altogether, but then it isn't at all clear that we are on the HostList view.

Thoughts?

!

[2015-09-22 21:35] jklein24 commented on #231
cc @bengolds.

Changing the messaging would be fine IMO. I agree that removing the blurb altogether wouldn't look right. Maybe just "No hosts created yet" or something along those lines.

[2015-09-22 22:33] bengolds commented on #231
Agreed; change the blurb. In the best of all worlds, a cute illustration would fit nicely. That said, don't worry about it.

[2015-09-22 22:39] bengolds commented on #214
Jeremy, is this still the case on the most recent build?

[2015-09-22 22:39] #224 closed

[2015-09-22 22:41] #174 closed

[2015-09-22 22:46] bengolds opened #232 "Mouse-based selection of text"
Click-dragging on text with a mouse should give the user a way to select that text. Jeremy, I remember you had thoughts on the exact way we wanted to implement this.

[2015-09-22 22:51] jklein24 commented on #232
Right now on head, clicking and dragging does select and copy automatically. However, it does so in the same "block select" mode as copy otherwise in the app. It would be much nicer to have text selection work like a TextView. @alescdb has this mostly working in https://github.com/connectbot/connectbot/pull/129, but it needs a few fixes and finishing. @alescdb, do you have any time to take another

[2015-09-22 23:03] jklein24 commented on #214
My keyboard seems to work well, but I can't speak for all others. The one exception I do see here is the end and home functionality. I'll try to see if we're getting any sort of unique keycode in connectbot for those. Otherwise alt + left and alt + right might be sufficient.

That being said, I also can't figure out how to get the function keys to *not* trigger whatever they want to do at the OS l

[2015-09-22 23:22] rhansby commented on #217
@bengolds thanks for the guidance.

I've created a PR at #233 and I'd appreciate if you all looked over it.

[2015-09-22 23:28] rhansby commented on #231
Taking this issue.

[2015-09-22 23:43] jklein24 commented on #168
Hostlist has FAB from https://github.com/connectbot/connectbot/pull/219/files. @khorimoto or @rhansby, do either of you want to add it to pubkeys and port forwards?

[2015-09-22 23:47] sebunger commented on #214
How can you set F1-F12 to do anything at the OS level? Is this a configuration somewhere? Not that I'd want to.

[2015-09-22 23:51] khorimoto commented on #168
Yeah, I can do it.

[2015-09-22 23:52] jklein24 commented on #214
@sebunger, no it's just that the bluetooth keyboard I have (see picture) assigns the function keys to actions in android. I can't seem to get them to *not* do those functions. I've tried holding all sorts of combination of Fn, ctrl, alt, command, etc. Again, I think this is really just a problem with my keyboard :-/

![1442965818499 1](https://cloud.githubusercontent.com/assets/1393755/10034932/1c

[2015-09-22 23:54] #231 closed

[2015-09-22 23:56] sebunger commented on #214
From the layout I would say your supposed to hold the function key to use
the key as say F1. Try doing that in terminal emulator. Does that produce
an F1?

Cheers,
Seb
On Sep 23, 2015 11:52 AM, "Jeremy Klein" <notifications@github.com> wrote:

[2015-09-22 23:58] rhansby opened #235 "Awkward contextual menu for pubkey list"
Long-pressing pubkeys brings up this menu (screenshot below). The checkboxes are awkwardly placed, but more importantly there may be too many options here. Perhaps some options could be rolled into "edit key"?

![longpress ugly](https://cloud.githubusercontent.com/assets/1788374/10035033/d4f46afc-614a-11e5-8f95-179c7531180b.png)

[2015-09-23 00:02] sebunger commented on #214
I meant hold Fn + F1. But looking at it again, the layout suggests that the keyboard has different 'modes'. What happens if you hit Fn + E (switch to windows mode) and then Fn + F1. Does that produce an F1 in terminal emulator? I wouldn't be surprised if the keyboard never generated F1 + F12 when in Android mode since Android itself (afaik) doesn't know about these keys.

[2015-09-23 00:02] #217 closed

[2015-09-23 00:02] rhansby opened #236 "Unreported/unexplained error/failure during portforward creation"
If one only enters the desired name of a new port forward (screenshot below) and presses "Create Port Forward", the port forward is not created, and the app does not inform the user that creation failed or why.

Partial stack trace:

    09-22 17:01:27.416  27549-27549/org.connectbot.debug E/CB.PortForwardListAct﹕ Could not update port forward
    java.lang.NumberFormatException: Invalid int: ""

[2015-09-23 00:09] jklein24 commented on #214
Unfortunately Fn + E doesn't seem to change anything either :-/. I'll try in Terminal emulator shortly.

[2015-09-23 00:12] jklein24 commented on #236
Looks like we need some good ol' form validation. @rhansby do you want to take this? If not, I can look into it tomorrow.

[2015-09-23 00:12] sebunger commented on #214
Is there anything I can do on my end to try and help figuring out why ConnectBot behaves differently from Terminal Emulator for me? I'm a software engineer myself albeit not an Android one, so I'm comfortable debugging stuff if you help me get set up if that helps in any way.

[2015-09-23 00:19] rhansby commented on #236
@jklein24 yes I'll take it

[2015-09-23 00:20] jklein24 commented on #236
:+1:

[2015-09-23 00:22] rhansby commented on #212
@jklein24 or @kruton please weigh in on this and/or close it.

[2015-09-23 00:59] #222 closed

[2015-09-23 13:56] wp9015362 commented on #235
The checkboxes should also be replaced with switches, since the Google Material Design Guidelines say:

:wink:

Related: https://github.com/connectbot/connectbot/issues/169

Regards

[2015-09-23 18:00] rhansby commented on #202
@kruton or @jklein24 can you please close this issue as it has been closed by #233

[2015-09-23 18:02] #202 closed

[2015-09-23 18:25] wp9015362 commented on #168
@bengolds :

I see that you have added a "MVP" label to some issues.

May I ask what "MVP" stands for?

Just curious.

Regards

[2015-09-23 18:31] #208 closed

[2015-09-23 18:47] alescdb opened #241 "Floating action button is hidding connection status"
![screenshot_20150923-204501](https://cloud.githubusercontent.com/assets/5646825/10054968/37f256b6-6234-11e5-9492-57545586582f.png)

[2015-09-23 18:57] wp9015362 opened #242 "Toolbar still says "ConnectBot" in host list view. Should say "Hosts" instead."
@rhansby :

In https://github.com/connectbot/connectbot/issues/231 you said:

That's mainly because the toolbar only says "ConnectBot" in the host list view.

If you would replace "ConnectBot" with "Hosts", that would instantly solve the issue mentioned above.

Actually I had requested that in https://github.com/connectbot/connectbot/issues/171 and @kruton said it would have been fixed with https:

[2015-09-23 18:57] rhansby commented on #241
This seems to be a common issue in other projects: http://graphicdesign.stackexchange.com/questions/50412/how-do-i-keep-my-floating-action-button-from-blocking-other-components

We could either:
* move the button (e.g. the bottom center or upper right)
* hide the button on scroll (I don't think that solves this issue, however)
* add padding to the bottom of the list (apparently Gmail uses this sol

[2015-09-23 19:00] alescdb commented on #241
Or move the status icon to the left ?
Hidding part of the name is less anoying than connection status.

[2015-09-23 19:04] bengolds commented on #168
We are making a batch of improvements for Android productivity tablets (N9 with folio keyboard), and this is a sort of "Minimum Viable Product" for SSH productivity on those devices.

[2015-09-23 19:08] rhansby commented on #242
Thanks for the catch. Just submitted the PR.

[2015-09-23 19:27] #242 closed

[2015-09-23 19:31] jklein24 commented on #241
Let's go with option 3 here.

[2015-09-23 19:41] wp9015362 commented on #242
That was quick, thanks @rhansby  :smiley: :+1: .

[2015-09-23 19:49] wp9015362 commented on #167
@rhansby :

I am just wondering:

Is this still undecided / being worked on?

As far as I am concerned, the accent color really should not be orange nor deep orange (it looks really ugly IMHO and does not fit the ConnectBot logo at all).

As shown on the example screenshots above, I think blue or light blue look way better as an accent color (with cyan as the primary color).

Regards

[2015-09-23 20:03] rhansby commented on #242
No problem :smile:

[2015-09-23 20:05] rhansby commented on #167
@wp9015362, we are still actively discussing this topic. I think you can expect updates within the next few days.

[2015-09-23 20:10] kruton opened #244 "ConnectBot appears as "Hosts" in list of all apps"
With #243 the name of the application in the launcher's all apps list is now "Hosts." This should remain "ConnectBot."

[2015-09-23 20:12] kruton commented on #241
It also looks like the FAB has no shadow so it doesn't appear to be "layered" on top of the list.

[2015-09-23 21:00] #244 closed

[2015-09-23 21:42] rhansby opened #247 "Floating Action Button looks wrong on older API versions"
Screenshot captured on APIv10:

![old device](https://cloud.githubusercontent.com/assets/1788374/10059678/48e79aa4-6201-11e5-8323-64bf2377ec4d.png)

[2015-09-23 21:48] #241 closed

[2015-09-23 22:56] rhansby opened #249 "GeneratePubkey view crashes on older APIs"
This seems to be caused by this call:
https://github.com/connectbot/connectbot/commit/5b8cc2d070eb3e22c13ecd586b589d68c800f5d6#diff-e03d035f94681f9f049ba487a7ea693bR229

[2015-09-24 00:08] kruton commented on #249
Can you try to add an androidTest for going to the generate key screen?
Then the device tests will catch it at least.

[2015-09-24 15:07] wp9015362 opened #253 "Status indicator icons in lists need to be on the left side to adhere to Google Material Design Guidelines"
@rhansby :

In https://github.com/connectbot/connectbot/issues/241 @alescdb suggested the following:

I agree with him.

Actually this would be necessary to adhere to the Google Material Design Guidelines, see:

:wink:

So, could you please do it?

PS: Of course https://github.com/connectbot/connectbot/pull/246 still is a good thing, but the connection status indicator icons should be moved to the

[2015-09-24 15:30] wp9015362 opened #254 "Hosts on host list can not be reordered"
Hello,

it seems like it's currently not possible to reorder the hosts on the host list.

Would there be any chance you could add a reordering feature?

I think it should be done like this:

In the host list view there currently is a menu on the toolbar which has an entry for "Order by name / Order by color".

There should be an additional entry in the menu called "Reorder hosts". Tapping on it sh

[2015-09-24 17:35] #249 closed

[2015-09-24 18:16] rhansby opened #256 "Discussion: primary and accent colors"
(I've opened this new issue to extend off of discussion in #167)

Colors are taken from https://www.google.com/design/spec/style/color.html#

I've taken a few screenshots of possible primary/accent color combinations. Please discuss what is good/bad about them. Also feel free to request more sample color combos / screenshots.

Primary | Accent | Hosts View | Settings View
------------- | ---------

[2015-09-24 18:19] rhansby commented on #167
Please see #256

[2015-09-24 18:24] jklein24 commented on #256
cc @bengolds.

Thanks for fleshing out all the options, @rhansby!!
My vote is for Light Blue + Light Blue lightened or Cyan + light blue lightened.

[2015-09-24 18:25] jklein24 commented on #256
Logo for reference
![image](https://cloud.githubusercontent.com/assets/1393755/10082509/f001940e-62ae-11e5-835e-9dd0500d0b32.png)

[2015-09-24 18:35] rhansby commented on #256
(added a cyan + light blue (lightened) sample)

[2015-09-24 18:48] rhansby commented on #256
(added a light blue + light blue (slightly lightened) sample)

[2015-09-24 18:49] jklein24 commented on #256
OK my final vote is for  Light Blue + Light Blue lightened.

[2015-09-24 18:49] rhansby commented on #256
I vote for Light Blue + Light Blue (slightly lightened)

[2015-09-24 18:56] jklein24 commented on #214
Sorry for the delay @sebunger  - I just tested this on Terminal Emulator and I see the same behavior there as I do in Connectbot for my keyboard. If you want to help debug, that would be awesome! You can uncomment [this line](https://github.com/connectbot/connectbot/blob/master/app/src/main/java/org/connectbot/service/TerminalKeyListener.java#L179) to figure out what key codes your keyboard is sen

[2015-09-24 19:38] sebunger commented on #214
Sounds good. I'll try that tonight when I get home from work. However, I'll
need a quick intro into compiling for Android and where to find the log
afterwards. Remember, I'm not an Android developer (although I have managed
to compile cyanogen mod ;-) I'm not a wiz but OK with git. Some links to
the most important docs would be great.

Oh, I'm very familiar with Ubuntu, so you can assume knowledge

[2015-09-24 22:16] wp9015362 commented on #256
@rhansby & @jklein24 :

As far as I can tell, blue on blue would not be allowed according to the Google Material Design Guidelines, see:

As far as I can tell, with secondary palette it means a different color than the primary palette, which is also illustrated in the example there ("Primary - Indigo / Accent - Pink" in the example).

So the accent color has to be a different color altogether AFAI

[2015-09-24 22:24] jklein24 commented on #256
@wp9015362, your feedback is noted and appreciated, but we've gotten some feedback from some UX folks on our side (including some people on the material design team) who have recommended going with the light blue + light blue (slightly lightened). I at least think we can all agree it's an improvement over the orange :-).

[2015-09-25 00:33] rhansby commented on #256
@jklein24 please close this issue.

[2015-09-25 00:58] #256 closed

[2015-09-25 05:38] kruton commented on #214
You should be able to clone and compile pretty smoothly.

1. [Enable ADB on your phone](
https://developer.android.com/tools/help/adb.html#Enabling)

2. Connect your phone to your computer via USB.

3. Clone, compile, and install:
[code]

[2015-09-25 05:39] kruton commented on #214
You should be able to clone and compile pretty smoothly.

1. [Enable ADB on your phone](https://developer.android.com/tools/help/adb.html#Enabling)

2. Connect your phone to your computer via USB.

3. Clone, compile, and install:
[code]

[2015-09-25 05:46] sebunger commented on #214
Perfect timing. I'm just about to take off home. Will give it a try once
the kids are asleep.

Cheers,
Seb

On 25 September 2015 at 17:39, Kenny Root <notifications@github.com> wrote:

[2015-09-25 05:49] jklein24 commented on #214
Thanks @sebunger! Once you have that, you can use `adb logcat` to checkout the debug logs collected by the line I pointed out. If you send us the key info for the Function keys it might help point us in the right direction.

[2015-09-25 10:22] wp9015362 commented on #256
If you don't mind answering, I am just wondering:

Is so many Google employees now actively maintaining ConnectBot (judging from the GitHub profiles of @kruton , @khorimoto , @rhansby , @jklein24 ) due to ConnectBot basically being a Google project (for @kruton it say's "Owner")?

Yes we can :yum: .

Regards

[2015-09-25 11:00] wp9015362 commented on #161
It is explained in the following video presentation of [Mark Davis from Google](https://plus.google.com/+MarkDavis/about), see (explanation starts at 07:35 min):

https://www.youtube.com/watch?v=-n9ONNeACyw

:wink:

The video also mentions a solution to this issue (starting at 08:35 min).

The solution is called "Emoji Variation Selectors", see:

http://www.unicode.org/reports/tr51/index.html#Emoj

[2015-09-25 11:18] wp9015362 commented on #165
That sounds good.

Even though I don't really know what "the recommended touch targets" are :yum:.

But "increase the size" sounds good :wink:.

Regards

[2015-09-25 11:39] wp9015362 commented on #164
Well, there's a plethora of results when searching for this topic on Google. It seems to be possible to detect if the IME is open, here are three of the search results for example:

http://stackoverflow.com/questions/2150078/how-to-check-visibility-of-software-keyboard-in-android
and:
http://toastdroid.com/2014/10/14/on-screen-keyboard-state-tracking-in-3-easy-steps/
and:
http://www.ninthavenue.co

[2015-09-25 12:06] wp9015362 opened #259 "Terminal size pop-up appears every time the terminal size changes"
Hello,

every time the terminal size changes, a pop-up is being displayed which shows the width and height of the terminal.

It even shows up when the keyboard is being opened and closed or when the screen rotates.

IMHO this doesn't make sense and it very quickly can become quite annoying and distracting.

Could you please either add an option to disable this pop-up or alternatively make it only

[2015-09-25 12:23] wp9015362 opened #260 "Terminal cursor does not adjust to extreme terminal size changes"
Hello,

when reducing the terminal size by a large amount and then increasing it again, the cursor is shifted to a few lines above (how much depends on how extreme the terminal size change was).

Here is how to reproduce it:

1. Activate "Volume keys change font size" in the ConnectBot settings
2. Connect to a host
3. Make sure the terminal is populated with a few lines of text (i.e. doing a *ls*

[2015-09-25 12:32] wp9015362 opened #261 "Pop-up which is showing the hostname everytime you go into the terminal is redundant now"
Hello,

everytime you go into the terminal, there is a pop-up which is showing the current hostname.

I think this pop-up should be removed because it is redundant because:

Since https://github.com/connectbot/connectbot/issues/172 has been fixed according to @kruton, the toolbar is already showing the hostname now, so there's no need to show this pop-up any longer.

So, could you please remove th

[2015-09-25 12:45] wp9015362 commented on #260
PS:

Pardon, I mixed up "reducing/increasing font size" and "reducing/increasing terminal size" a little bit. I have corrected it now.

Regards

[2015-09-25 12:56] wp9015362 opened #262 ""Bumpy arrows" description needs to be updated"
Hello,

in the settings there is an option called "Bumpy arrows". It's description says:

But since https://github.com/connectbot/connectbot/pull/120, the virtual keyboard now also has arrow keys and the "Bumpy arrows" option also affects the virtual keyboard.

Therefore the description needs to be updated.

I think removing the "from trackball" part would be enough, making it simply:

:wink:

Cou

[2015-09-25 13:09] wp9015362 commented on #259
PS:

The pop-up also appears when opening a terminal and immediately is obfuscating the keyboard for a brief moment, also quite annoying.

Regards

[2015-09-25 13:13] wp9015362 opened #263 "IME keyboard is not being opened when tapping on the terminal"
Hello,

when tapping on the terminal, the virtual keyboard (the one with the ESC, CTRL, TAB, UP, DOWN, LEFT, RIGHT buttons) is being opened.

To open the actual IME keyboard, you need to press the keyboard button on the virtual keyboard.

So you have to tap twice to open the IME keyboard.

IMHO, instead of just opening the virtual keyboard when tapping on the terminal, the IME keyboard should open

[2015-09-25 14:04] wp9015362 commented on #253
PS:

@rhansby :

The same would also be true for the [lock/unlock icons on the pubkey management view](https://github.com/connectbot/connectbot/pull/216), they would also need to be moved to the left side.

Regards

[2015-09-25 14:15] wp9015362 opened #264 "Font size in Manage Pubkeys list and Port forwards list is way too big"
Hello,

the font size in the Manage Pubkeys list is way too big.

It should follow the specs from https://www.google.com/design/spec/components/lists.html.

It's the same issue as it was with the host list in https://github.com/connectbot/connectbot/issues/175.

@khorimoto or @rhansby :

Any chance you could fix that as well, just as it was fixed in https://github.com/connectbot/connectbot/pull/18

[2015-09-25 14:21] alescdb commented on #263
I'm not sure this is a good idea. The keyboard not showing on click is actually useful if you just need to access the copy/paste/menu the Actionbar/Toolbar is in autohide mode.

[2015-09-25 14:40] wp9015362 commented on #263
This is not an issue, because long tapping the terminal actually doesn't open the virtual keyboard either, it only opens the copy/paste-menu :smiley:. Just try it :wink:.

Currently it works like this:

Long tapping the terminal (pressing and holding) = opening copy/paste-menu without opening any keyboard
Short tappping the terminal (just pressing biefly) = opening virtual keyboard

So, the only t

[2015-09-25 14:43] alescdb commented on #263
Long tapping open the context menu "Paste", but does not show the "Copy" or the Toolbar/Actionbar if you have the options "Autohide Toolbar" in the setup.

[2015-09-25 15:28] wp9015362 opened #265 "Long tapping the terminal only offers Paste, but should offer Copy and Paste"
Hello,

when long tapping (pressing and holding) on the terminal, the user is only being offered with "Copy". Once the user has copied something, long pressing on the terminal only offers "Paste".

But it should offer "Copy" ***and*** "Paste", otherwise it would only be possible to paste the previously copied text and would no longer be possible to copy anything else (at least not without having t

[2015-09-25 15:30] wp9015362 commented on #263
Yep, I just realized that myself. I have opened a issue for it, see:

https://github.com/connectbot/connectbot/issues/265

Regards

[2015-09-25 17:02] khorimoto commented on #264
Yep, I can take this after I'm done with some other work.

[2015-09-25 17:18] kruton commented on #256
ConnectBot is a project I started before Google. You can read up on Google's 20% time at various places, though.

[2015-09-25 17:40] #262 closed

[2015-09-25 17:46] jklein24 commented on #260
I believe this is the same root cause as #80. We should really fix both. I'll leave this open until I can verify that it's a dupe.

[2015-09-25 17:48] jklein24 commented on #261
Keep in mind that the tabs aren't there on small screens and the toolbar can be auto-hidden. I could see the argument for getting rid of the pop-up, but it doesn't bother me too much... @bengolds and @kruton what do you think?

[2015-09-25 18:38] wp9015362 commented on #261
When the toolbar is auto-hidden, you can simply tap on the terminal and the toolbar (which shows the hostname) will blend in for a brief moment. So, if you want to see the host name, all you would need to do is tapping on the terminal. And I guess users who prefer having the toolbar hidden would also prefer not to see the pop-up :wink:.

By the way, regarding your comment regarding the absence of

[2015-09-25 21:25] jklein24 commented on #225
#267 Accomplishes the first steps here, but forces the user to hold shift to prevent the terminal to steal mouse events. hterm handles this really nicely:

https://chromium.googlesource.com/apps/libapps/+/master/hterm/js/hterm_terminal.js#2765

I'll probably need to modify vt320 a bunch to get this right and support mousewheel.

[2015-09-25 21:48] jklein24 commented on #265
I'm pretty sure it *only* ever shows paste at the moment and never copy. For now, the user can use the action bar copy and paste buttons, but we're also looking into reworking the copy/paste flow altogether so  I'd rather not mess with this until then.

[2015-09-25 21:50] jklein24 commented on #232
@rhansby is checking out fixing #129 and making it ship-able. @alescdb, please talk to him if you still want to finish it yourself instead or if you have any pointers along the way.

[2015-09-25 22:01] wp9015362 commented on #265
Yes, sorry, you are correct, it actually only ever offers paste.

Yeah, but in https://github.com/connectbot/connectbot/issues/263 @alescdb mentioned that some users might have the toolbar hidden, which actually lead me to open this issue.

May I ask what that will look like?

And is there some kind of to-do list for ConnectBot which could be made publicly available maybe?

Regards

[2015-09-25 22:03] wp9015362 commented on #265
PS:

Ah, I just saw that you are probably referring to this (?):

https://github.com/connectbot/connectbot/pull/129

Regards

[2015-09-25 22:07] jklein24 commented on #265
Yep, exactly :-). #129 is roughly the goal.

[2015-09-26 06:12] alescdb commented on #232
@jklein24 , I just had my second baby girl recently, my (free) time is very limited right now. My wife will kill me if she sees me more than 2 minutes in front of my computer :-)
Anyone can take over if they want. My last thought was to adapt android.widget.Editor on TerminalView this may be a better and simpler way.

[2015-09-26 06:26] jklein24 commented on #232
Congratulations, @alescdb! We'll be sure to at least cc you on the PRs to keep you in the loop ☺.

[2015-09-26 08:20] alescdb opened #269 "ConnectBot still appears as "Serveurs" (Locale.FRENCH) in launcher applications (git-v1.8.6-275-gd88325b)"
It seems #245 did not fix this for my Nexus 9 latest 5.1.1 with Google Launcher (1.1.1.1706998).
It's ok on my Nexus 5 (Marshmallow preview 3).
At first I thougth it was a cache problem somewhere but clearing Google Launcher cache and uninstall/install ConnectBot did not resolved it.

[2015-09-26 10:34] alescdb commented on #269
Also (my opinion), when starting an application it feels natural to have the name of that application in the main Activity,  so when we open recent apps we search for "ConnectBot" and not "Hosts".
Maybe ActionBar.setSubtitle() can be used instead ?

http://developer.android.com/reference/android/app/ActionBar.html#setSubtitle(java.lang.CharSequence

[2015-09-26 11:25] wp9015362 commented on #269
I get your point, but it's not too uncommon for apps not to have the app name in the App Bar of the main activity (main/home screen).

Let's take some Google apps for example:

The [Gmail app](https://play.google.com/store/apps/details?id=com.google.android.gm) does ***not*** say "Gmail" in the App Bar of it's main activity. Instead the App Bar shows which email label/folder is being shown at the

[2015-09-26 11:27] wp9015362 commented on #269
PS:

For the record, I have looked up what the Google Material Design Guidelines say about the App Bar, they say:

Regards

[2015-09-28 20:29] jklein24 commented on #212
I agree that this isn't really a big deal.

[2015-09-28 20:29] #212 closed

[2015-09-28 22:05] jklein24 commented on #168
https://github.com/connectbot/connectbot/pull/268 landed for Port Forwarding. Just need pubkeys :-)

[2015-09-28 22:57] bengolds opened #270 "Move page-up/page-down gestures to opt-in in settings"
We have virtual keys for pg up and pg down; can we remove the "drag on the left side of the screen" gesture? @kruton @jklein24

[2015-09-29 16:50] jklein24 commented on #270
:+1: from me on this - I've found the page up/down on the left side of the screen really unexpected before really paying attention to the instructions. It's particularly confusing when not in a context where pgup/dn works correctly. It just sort of makes scrolling seem broken. @kruton, are you ok with removing this? I guess we could always add a setting to keep it there, but I'd rather kill it alt

[2015-09-29 18:02] khorimoto commented on #270
+1 - I've also found this functionality confusing and unexpected.

[2015-09-29 18:15] alescdb commented on #270
Would be nice to make it optional because I'm use to it :-)

[2015-10-01 20:46] khorimoto opened #272 "Create new add/edit host view."
This will replace the hacky "quick connect dialog" and will make the "edit host" view MD-themed.

[2015-10-01 22:25] #225 closed

[2015-10-01 23:06] jklein24 commented on #80
cc @kruton

This is also easily reproducible by increasing and then decreasing the font size. It seems like something is going wrong with the scroll position when the screen size changes. It's like the whole buffer goes stale in the wrong position.

[2015-10-05 17:52] #80 closed

[2015-10-05 17:54] #260 closed

[2015-10-06 00:02] jklein24 commented on #144
Note that from a hard keyboard this already works (although it vibrates a bunch). It's just the soft key that's a problem.

[2015-10-06 18:32] rhansby commented on #270
Accidentally removed this in #277. Please let me know if we want to keep this feature.

[2015-10-06 18:33] jklein24 commented on #270
I think we should keep it around in settings because I'm sure @alescdb isn't alone in being used to this behavior.

[2015-10-06 18:37] jklein24 commented on #270
@rhansby, feel free to do this in another PR once your giant one lands.

[2015-10-06 20:01] #236 closed

[2015-10-06 20:25] rhansby commented on #263
Do others agree with this? @kruton @jklein24 (I personally do not)

If not, this issue should be closed.

[2015-10-06 20:30] #94 closed

[2015-10-06 20:32] kruton commented on #263
No, this would interact too badly with copy/paste or create another state which seems needless.

[2015-10-06 20:32] #263 closed

[2015-10-06 20:39] jklein24 commented on #144
Actually, this was fixed by #134 like @alescdb noted above :-). I guess we just forgot to close it out.

[2015-10-06 20:39] #144 closed

[2015-10-07 11:09] leonerd commented on #270
+1 for keeping it, even as an option. I verymuch use it all the time - e.g. running IRC clients via screen

[2015-10-08 18:22] #76 closed

[2015-10-08 22:12] #232 closed

[2015-10-08 22:12] #270 closed

[2015-10-09 04:39] #36 closed

[2015-10-10 07:09] alescdb opened #285 "Unable to show the ActionBar (when set to auto hide)"
Since the very nice #277 when actionbar (Toolbar) is set to auto hide in settings, touching the screen does not show the action bar.

[2015-10-10 07:11] alescdb opened #286 "Selection stays active while text is scrolling"
If you select a text and then type 'ls' the selection stays active and at the same place.

[2015-10-10 17:41] jklein24 commented on #286
I think @rhansby is already looking into this.

[2015-10-11 07:00] alescdb commented on #285
Also, it's almost impossible (but sometime possible) to hit the paste icon in action bar.

[2015-10-12 17:10] kruton opened #287 "Scrolling causes selection to start during sustained touch"
If you use your finger to scroll the screen up and down eventually (after a touch timeout, it appears) selection will start no matter if your finger has stopped moving or not. The intended selection behavior is that a scroll will cancel the selection timer and just allow scrolling.

[2015-10-12 17:33] rhansby commented on #265
This issue should be closed, it was fixed by #277

[2015-10-12 17:35] #265 closed

[2015-10-12 17:51] kruton opened #288 "Editing an existing host shows a "+" in the upper right where "Save" should be"
If you edit an existing host, there is simply a "+" in the upper right instead of "Save" or something similar.

[2015-10-12 18:37] khorimoto commented on #288
This will be part of my UI polish PRs.

[2015-10-13 18:35] kruton commented on #269
I think we'll have to do `setTitle(...)` in `HostListActivity` to support older devices as well.

[2015-10-13 18:49] rhansby commented on #269
I didn't see this issue at the time, but #278 fixed this. The change uses `setTitle` as @kruton suggests.

[2015-10-13 19:00] kruton commented on #269
That's what I thought happened.

[2015-10-13 19:00] #269 closed

[2015-10-13 19:00] rhansby commented on #285
I've fixed the issue with the ActionBar hiding/showing in #291.

@alescdb, I haven't been able to replicate the paste icon issue. Could you tell me under what conditions the paste button does/doesn't work?

[2015-10-13 19:55] #285 closed

[2015-10-13 21:27] alescdb opened #292 "When ActionBar is set to auto hide hitting paste icon is impossible"
As sayed in #285
I can hit it when not set to auto hide.

[2015-10-13 21:36] alescdb commented on #228
Since this has not been tagged as "Bug", I'm assuming I'm the only one to have this behaviour ?

I tried on a fresh install of CB (git-v1.8.6-348-g69739ad) and it's still happening for me :-/

[2015-10-13 22:39] rhansby commented on #292
Are you using an emulator? This never seems to happen on a real device for me, but I am seeing it occasionally on an emulator.

[2015-10-13 23:22] rhansby commented on #292
@alescdb, please verify that #293 fixes this issue.

[2015-10-13 23:33] #292 closed

[2015-10-14 09:33] alescdb opened #295 "Can't hit Paste (SSH only)"
OK I think I nailed it.
It only happens with SSH host. When connecting and after it is impossible to hit paste, if I select "Force size" in the menu, it then enable the Paste icon.

Nexus 5 with 6.0.

[2015-10-14 16:46] rhansby commented on #295
Is this still occurring after #293?

[2015-10-14 16:51] alescdb commented on #295
Yes it is. Only on SSH hosts. Maybe it's disabled somewhere programmatically ?

[2015-10-14 17:04] alescdb commented on #295
It may be related to #228 because when switching  to another app and come back it's enabled.

[2015-10-14 18:33] wp9015362 commented on #264
@khorimoto :

Now that I know [how to access the port forwards activity](https://github.com/connectbot/connectbot/pull/268#issuecomment-148131518) (thanks :wink:), I can report that the port forwards lists is also affected by this issue.

Regards

[2015-10-14 21:35] rhansby commented on #295
You're correct, the paste button is disabled before you enter your password and the SSH session opens:
https://github.com/connectbot/connectbot/blob/master/app/src/main/java/org/connectbot/ConsoleActivity.java#L900

But after the session opens, the paste button is not being re-enabled.

[2015-10-14 21:52] #168 closed

[2015-10-14 22:29] rhansby commented on #295
I am very sure that #297 finally fixes all issues with the paste button, but please verify.

[2015-10-15 01:02] #286 closed

[2015-10-15 16:39] #287 closed

[2015-10-15 17:36] #295 closed

[2015-10-16 00:22] kruton opened #299 "Different icon for debug version of ConnectBot"
Since the debug version of ConnectBot is named differently (`org.connectbot.debug` vs. `org.connectbot`), it would be nice to have a different icon for that version to visually indicate on recents and in the app launcher during development.

Simply placing the icon with the debug indicator in `app/src/debug/res/drawable-*/icon.png` should solve this without changing anything else.

The new icon co

[2015-10-16 17:12] #150 closed

[2015-10-16 20:18] #253 closed

[2015-10-17 13:42] wp9015362 commented on #299
Speaking of it, would there be any chance you could put something like a Debug/Daily/Alpha/Beta version on the Google Play Store?

[2015-10-19 18:20] jklein24 opened #301 "Going into recents and back into connectbot switches active terminal"
Repro:
1) Open 2 connections.
2) Scroll to the second one.
3) Open recents and click connectbot again.

Notice that the open terminal has switched, but that typing does nothing (it's typing on the other terminal still.). Every time you repeat step 3, the terminal switches.

[2015-10-20 00:36] jklein24 commented on #301
This is starting to look like a bug in ViewPager. The problem is that setCurrentItem is called twice very quickly: at initialization it's called to set the selected page to 0, which triggers a scroll back to the beginning. Then there's a call to set it to 1 to restore previous state. The first call starts a scroll to the first page, but that call isn't actually executed by the time the second call

[2015-10-20 00:49] jklein24 commented on #301
I can fix this by wrapping the call to setDisplayedTerminal in a pager.post() call, but it looks pretty janky because you can visibly see the pager scroll away and come back to the second page :-/

[2015-10-20 01:22] jklein24 commented on #301
To follow up on the note above, it looks like when `completeScroll` is called, the scroller already has the x coordinate for the first page, so the scroll just goes there instead of the second page.

https://github.com/android/platform_frameworks_support/blob/master/v4/java/android/support/v4/view/ViewPager.java#L1831

[2015-10-20 07:04] alescdb commented on #301
I had bugs in one of my apps, I lost a lot of time on it until I discover it was a bug in v23.0.+ appcompat (https://code.google.com/p/android/issues/detail?id=183127).
Maybe you should start by upgrading v23.1.+, this may or may not help :-)

[2015-10-20 17:19] jklein24 commented on #301
I just tried that, but it seems that the problem still exists. Definitely a good suggestion, though :-).

[2015-10-20 20:56] rhansby commented on #247
Seems to be a bug with the support lib :( https://code.google.com/p/android/issues/detail?id=183315

[2015-10-20 22:08] #247 closed

[2015-10-20 22:12] rhansby commented on #264
Taking this, and also aligning pubkey icons on left as per #253

[2015-10-21 19:09] alescdb commented on #227
Seems resolved by #307

[2015-10-21 19:09] #227 closed

[2015-10-21 19:11] jklein24 commented on #227
Nice! I wonder if it was just moving `bound = null` to the top of the onServiceDisconnected function.

[2015-10-21 20:10] jklein24 commented on #301
I guess I'll close this out, but I'll keep an eye on the internal ViewPager bug to switch to a better fix when that's available.

[2015-10-21 20:10] #301 closed

[2015-10-21 20:18] jklein24 commented on #272
Fixed by https://github.com/connectbot/connectbot/pull/304

[2015-10-21 20:18] #272 closed

[2015-10-21 20:31] kruton opened #311 "Remove all unused string resources"
The recent activity on ConnectBot has left a lot of string resources that are unused imposing a burden on anyone that wants to translate ConnectBot into a new language. We should remove all the unused resources in `app/src/main/res/values/strings.xml` (the other languages will be automatically updated by translations imports).

[2015-10-21 20:52] rhansby opened #312 "Host creation view dropdowns are non-obvious"
It's not possible to tell that certain dialog elements are dropdowns, e.g. "Protocol" and "Color category":

![unclear](https://cloud.githubusercontent.com/assets/1788374/10649818/ec8b3dbe-77fa-11e5-8435-d46b63e68731.png)

[2015-10-21 20:55] rhansby opened #313 "Local host creation has 2 "nickname" fields"
See screenshot:

![local](https://cloud.githubusercontent.com/assets/1788374/10649886/57538228-77fb-11e5-850b-fe820320f8b6.png)

[2015-10-21 21:01] rhansby opened #315 "Host creation: font size slider value does not update when focused"
When the user is focused on the value of the font size, dragging the slider does not change the value.

GIF included:
![output](https://cloud.githubusercontent.com/assets/1788374/10650036/2e47dd7e-77fc-11e5-929b-636f95d80f07.gif)

[2015-10-21 21:13] rhansby opened #316 "Host creation: faded FAB"
If you begin to create a host, but then go back and discard changes, the FAB is faded and seems disabled (it is not disabled).

Screenshot:
![faded](https://cloud.githubusercontent.com/assets/1788374/10650372/f0938a9e-77fd-11e5-8c55-b675b979a52e.png)

[2015-10-21 21:14] khorimoto commented on #312
Any suggestion for what should be done to make it clearer? These are just the mocks that I was given.

[2015-10-21 21:16] jklein24 commented on #312
Maybe a dropdown arrow on the right?

[2015-10-21 21:19] jklein24 commented on #315
@johnheroy, want to check this out?

[2015-10-21 21:19] johnheroy commented on #315
Sure! I'll check it out.

[2015-10-21 21:26] #264 closed

[2015-10-21 21:27] rhansby commented on #228
Has this issue been solved in the same way that #227 has been solved?

[2015-10-21 22:18] #210 closed

[2015-10-21 23:20] rhansby opened #317 "Host creation cancellation dialog uses incorrect colors"
![bad color](https://cloud.githubusercontent.com/assets/1788374/10652968/a9b0c058-780f-11e5-97f1-3f30d955648c.png)

[2015-10-21 23:30] #311 closed

[2015-10-22 09:10] alescdb opened #322 "Public keys activity is using dark icons instead of light"
![screenshot_20151022-110044-01](https://cloud.githubusercontent.com/assets/5646825/10661307/6d393882-78ad-11e5-988d-19c6bb769fdc.jpeg)

[2015-10-22 09:28] alescdb commented on #228
@rhansby Nope still stuck on the console with a closed connection (by shell command) after switching app or screen off.

[2015-10-22 17:15] jklein24 commented on #322
@johnheroy any interest in this too?

[2015-10-22 17:42] #315 closed

[2015-10-22 21:29] khorimoto commented on #317
@johnheroy, wanna take this?

[2015-10-22 21:29] khorimoto commented on #316
@johnheroy, wanna take this?

[2015-10-22 21:30] khorimoto commented on #312
@johnheroy, wanna take this?

[2015-10-22 21:31] khorimoto commented on #288
Fixed by #305.

[2015-10-22 21:50] rhansby commented on #312
As discussed offline that this is standard UX for other apps, should this issue be closed?

[2015-10-22 21:51] jklein24 commented on #312
Yeah I think this is fine to close out.

[2015-10-22 21:51] #312 closed

[2015-10-22 21:55] johnheroy commented on #322
Yep I can take this one

On Thu, Oct 22, 2015, 10:15 AM Jeremy Klein <notifications@github.com>
wrote:

[2015-10-22 22:40] #313 closed

[2015-10-23 03:58] alescdb commented on #317
Also would it be possible to unlink the user@host:port field and the nickname field if nickname has been set by user ?
When I just want to correct something in the host this erase my custom server nickname with the default one.

[2015-10-23 09:54] alescdb opened #326 "Terminal bell problem"
When a bell is initiated (by a keyboard key or by a command eg. `echo -e "\a"`) I'm hearing multiple bells sounds. Sometimes 4, sometime 8, ...
but never only 1 (normal behaviour).
This seems to be a Marshmallow only issue, I have this problem both on my Nexus 9 (6.0) and my Nexus 5 (6.0).
Also, on my Nexus 5, I've disabled all "Terminal bell" settings, but I still get them !

Note that (for me) t

[2015-10-23 11:44] alescdb commented on #326
After some more investigation I found at that the problem is in `BeepListener.OnCompletionListener.onCompletion()`

logcat :
[code]

if I remove the call to `mp.seekTo(0);` everything works fine (but I have no idea what effect this will have on previous version of Android). I suppose that seekTo() is called before MediaPlayer has actually finished to play the sound, and since it's still running it

[2015-10-23 14:41] #326 closed

[2015-10-23 16:56] #228 closed

[2015-10-25 16:28] alescdb commented on #299
Publishing beta apk could be achieved programmatically with Google Play Developer API.
Maybe with a bash/curl script, or with a java program.
This could be an idea for publishing "Untested builds" in beta on the Play Store without additional human interaction.

https://developers.google.com/android-publisher/tracks

[2015-10-26 18:39] johnheroy commented on #316
yup :)

[2015-10-26 18:55] #322 closed

[2015-10-27 21:14] #317 closed

[2015-10-31 01:43] Beolach opened #334 "Force Size saved option"
I'd like to be able to save a Force Size option in the Per-Host settings, as an alternative/override to the Font size (pt) option.  I always want 80x24 terminals, but using Font size (pt) I can't get both the width & height I want.  After connecting, I can go to the menu->Force Size & set 80x24 (twice) to get it how I want, but it's annoying to have to do that every time I connect, I want to be ab

[2015-11-03 23:25] ilf opened #336 "single line input"
Keyboard input is currently piped directly through SSH to the server. I would love a local single-line input field to input text locally on Android (and use features like gestures and spelling correction) before submitting the entire line to the server.

VX ConnectBot provides this option: http://connectbot.vx.sk/

[2015-11-04 03:34] yan12125 commented on #76
It is still an issue? Got the same error in version 1.8.6 downloaded from Google Play.

[2015-11-04 04:11] kruton commented on #76
Yes it will be fixed in the next release. I haven't pulled in the new
version of the SSH library.

[2015-11-04 19:56] yan12125 commented on #76
Thanks for the information. However, I got a different error with https://github.com/kruton/sshlib/commit/eb862ee8716620fa2a1c62146fc6d707600df789 and https://github.com/connectbot/connectbot/commit/5916f54d2791dcdd20f6fd017b74254f905cd5f1:
[code]

I'm using the key pair generated by ConnectBot. Please tell me if you need the key pair sample (pubkey + privkey).

[2015-11-05 00:55] Decoherent commented on #34
I know it's been a while, but this would still be a really nice feature. I have to copy keys around manually sometimes (I've got a synced subdirectory), and it'd be nice to just be able to choose them directly.

[2015-11-05 16:46] Liath commented on #90
I would also appreciate this.

[2015-11-06 17:06] #316 closed

[2015-11-11 12:39] ThePreviousOne opened #338 "imporing larger keys"
I tried importing a 16384bit RSA key from OpenSSH 7.1-p1 If this is bug I am happy to get logs or whatever is needed, but I assumed that the size was just unsupported.

I use RSA/DSA 16384 ssh keys. I realize generating these on a mobile is unreasonable,  but I don't think we should have to sacrifice encryption strength

[2015-11-12 23:16] #338 closed

[2015-11-13 12:58] florianschroen opened #339 "Loading encrypted key on start not working"
Hi i tried to load an private key at start.
This only works for keys without password.

If importing key, the option "Loading key on start" is grayed out.
If generating key with passphrase, I could enable the option "Load key on start".
When generated, the option "Loading key on start" is checked but grayed out.

For single hosts/configs I could define a key to use. if it needs a passphrase, i cou

[2015-11-20 04:07] mcdamo opened #340 "Port forwarding doesn't work"
Using ConnectBot v1.8.6 on Android 5.1.1 (Resurrection Remix) port forwards cannot be created.

Port forwards fail with log `E/CB.SSH  (20395): Could not create local port forward`

Below is anonymized adb logcat showing connection and error:

[code]

[2015-11-20 09:03] mauzer opened #341 "Auto login on specific promts using telnet"
Hello,

Some telnet servers are using specific prompts for user IDs and passwords. It would be awesome to add the a new feature to auto login after a search for specific logon prompt when using a telnet protocol.

I saw this implementation on [Mocha Telnet](https://play.google.com/store/apps/details?id=dk.mochasoft.telnet).

Quote from Mocha Telnet help:

[2015-11-21 19:11] wp9015362 opened #342 "New release?"
Hello,

I am wondering:

Why has there not been a new release of ConnectBot yet?

I mean, all "MVP" labeled issues are closed now and ConnectBot has received a huge Material Design overhaul.

So, why not do a new release?

Could you please put up a new release?

Regards

[2015-11-22 20:15] nemobis opened #343 "URL parsing failures with long URLs"
Rarely, parsing of URLs failed for me. I did not manage to make a self-explanatory screenshot, but one issue is: when the URL ends at the very last character of the line, the first word of the next line is appended to the URL.

It also seems that everything before a colon is considered a possible protocol, but that may be intended to avoid having an hardcoded list of protocols.
https://up1.ca/#lM_

[2015-11-22 21:41] leonerd commented on #343
Yeah; that's a really hard problem to solve. If the URL "ends" on the last cell of a line, it's impossible to tell if it was supposed to continue wrapped into the next line or not.

[2015-11-23 14:53] wp9015362 commented on #342
@bengolds @kruton @rhansby @jklein24 @khorimoto :

Is there any specific reason why there is no more activity here in this repo for the last few weeks?

Regards

[2015-11-23 17:54] kruton commented on #342
I was hoping to get more translations before the release, but it seems that only Japanese will have the new strings. The other reason is I need to create a new APK of the old version with maxSdkVersion set.

[2015-11-26 19:38] linuxtim opened #344 "Support for secure user authentication private key storage via the KeyStore API?"
Unless I'm mistaken (which is very possible), it looks like it would be possible to securely store SSH private keys using Android's "KeyStore" API, and this would seem to add some additional protection against theft of these private keys (especially from devices which have hardware assisted secure key store support).  I can't see any support for this in ConnectBot currently.

Would there be any re

[2015-11-28 16:36] JasperWeiss commented on #342
The latest release on f-droid is a few months old. I can't wait to see a new release.

[2015-12-04 06:15] torusrxxx opened #345 "Recognise IPv6 address on quick connect"
Currently we can't type "admin@[2001:db8:1:2:3:4::1]:21" and connect to it. I can only connect to it by firstly connecting to a dummy server, and modify its address, which looks strange.

[2015-12-06 16:23] wp9015362 opened #346 "ZXing Barcode Scanner as input method in ConnectBot?"
Hello,

would there be any chance you could integrate the ZXing Barcode Scanner as an input method for ConnectBot:

https://github.com/zxing/zxing
https://play.google.com/store/apps/details?id=com.google.zxing.client.android

?

Several apps seem to be integrating the ZXing Barcode Scanner as an input method, so it should be possible to do it for ConnectBot as well.

Just one example:

Signal for

[2015-12-07 00:22] kruton commented on #346
Sounds like a cool idea. I'll look into it.

[2015-12-08 02:49] jidanni opened #347 "no link to website in app"
No link to any website within app. Who to contact only available via Google.

[2015-12-08 02:52] jidanni opened #348 "Bad DNS gets cached until total phone reboot"
Try to connect when wifi accidently off.
DNS gets cached as bad until one reboots entire phone!

[2015-12-08 02:54] gittastic commented on #348
What device\android version is that with? Also what build of ConnectBot?

[2015-12-08 03:05] jidanni opened #349 "no version info available within app"
No "about" page to tell what version I'm using.

[2015-12-08 03:10] jidanni commented on #348
"Latest" connectbot, on Android 4.0.4 mtk6577.

[2015-12-08 04:03] kruton commented on #348
I'm not sure ConnectBot could do anything about this since the DNS is cached in netd.

[2015-12-08 04:05] kruton commented on #349
It's in the upper right of the Help screen or at the end of the "Terms & Conditions."

[2015-12-08 04:09] gittastic commented on #348
This was a bug\feature fixed somewhere in the Jelly Bean era, if I remember correctly. I used to have similar issues accessing local network resources such as intranet web pages due to DNS caching on my Nexus S. Seems a long time ago now :)

@jidanni As a workaround, I think i put into airplane mode or maybe just toggled the data connection for a moment rather than full reboot.

[2015-12-08 04:47] jidanni commented on #348
OK.

[2015-12-08 04:47] #348 closed

[2015-12-08 04:50] jidanni commented on #349
OK I found the former, but not the latter.

[2015-12-08 04:50] #349 closed

[2015-12-14 15:24] CMDRZOD commented on #137
Bump. I also have this issue. It makes byobu impossible to use on the phone. Please fix it soon. Or contact the makers of hackers keyboard if it's their fault. This has been ongoing since this summer.

[2015-12-14 15:40] leonerd commented on #137
@CMDRZOD It's been going on longer than that.
I've repeatedly tried to contact the Hackers' Keyboard maintainers and have repeatedly not got any reply. If anyone knows any way of doing that, please attempt to do so. There's ultimately a sharp limit on what we can fix within ConnectBot without their help fixing their side.

[2015-12-14 16:40] leonerd commented on #137
@kruton Yes - HK does do some really weird behavioural switching based on name/version detecting of the client application it is sending keypresses to. I believe that may account for version-related differences between dev builds and production releases.

[2015-12-14 18:09] Ghostbird opened #350 "Connectbot cannot import own output?"
I have a 1024 bits RSA key on my old phone. I did "Copy Private Key" and "Copy Public Key" and copied those to their respective files on the old phone. Checked that they had *nix style line ends, and moved the files to the new phone. I selected import, but I got "Problem parsing imported private key", both times, even though it's Connectbot's own output, and one is obviously a public key.

[2015-12-14 18:36] cruvolo opened #351 "Keypairs should not be backed up by default"
I recently moved to a new device and was surprised to see my keypairs show up on the new device with no action taken on my part.  This means that keys were sent to google and only the key passphrase was protecting them. I consider this a security vulnerability.

Keypair backup should be disabled by default.  Users should be warned when enabling keypair backup that their keys are being disclosed an

[2015-12-14 18:46] jklein24 commented on #351
Keep in mind this is only backing up the *public* keys. However, I could still see reasoning for wanting to avoid that.

@kruton for input.

[2015-12-14 20:11] cruvolo commented on #351
Private keys live in this SQLlite DB as well.  See PubkeyDatabase class.  https://github.com/connectbot/connectbot/blob/master/app/src/main/java/org/connectbot/util/PubkeyDatabase.java

[2015-12-15 05:02] albeec13 opened #352 "Intermittent "Key exchange was not finished, connection is closed.""
Running Connectbot 1.8.6, I frequently get the error "Key exchange was not finished, connection is closed.  Hostkey signature sent by remote is wrong!"

I'm using a 4096-bit RSA key, generated by ConnectBot, and I currently have 3 connections to the same server using this key. The difference between the connections is strictly the post-connection shell commands to run, and in one case, there are n

[2015-12-17 11:21] dllud opened #353 "Support ed255519 SSH keys"
OpenSSH 6.5 (January 2014) introduced ed25519 keys in bcrypt KDF format due to security and performance advantages. This format is now becoming widely used and is expectable to become the de-facto standard for new keys. Therefore ConnectBot should follow along and implement it.

There is already at least one pure Java implementation of ed25519, in use for i2p: [ed25519-java](https://github.com/str

[2015-12-18 00:00] grizzlyfred commented on #137
Yes please fix the f keys to allo usimg midnught commanee

[2015-12-18 00:06] grizzlyfred commented on #137
I wish to add that it wirks in vx connectbot... but vxcb doesnt work for all my machines...

[2015-12-20 20:47] lcharles123 opened #355 "Remember passwords"
Has as implement it? A password with reasonable security has a great amount of characters, it is difficult to type on touch screen.

[2015-12-22 12:12] roubert opened #356 "Feature Request: Passphrase Storage"
It would be nice if it were possible to store the passphrase for a key in ConnectBot so that the key can be loaded into memory automatically.

(If the passphrase is stored properly, a key with such a stored passphrase would be better protected than a key without any passphrase but equally convenient to use.)

[2015-12-23 13:18] barscm opened #357 "connection on startup"
When I power on my android device, connectbot (I assume; I have no other ssh clients installed (that I know of)) is attempting to connect to my server.

I see an entry on the server like:
Dec 23 10:23:01 {hostname} sshd[27780]: Did not receive identification string from {android_device_ip_address}

I can only infer that connectbot is trying to ping the device list on startup without a user request

[2015-12-23 23:18] jidanni opened #358 "character based input with GooglePinyin"
Add option to enable character based input with Google Pinyin. Else defaults to word based.

[2015-12-24 16:00] kruton commented on #358
Do you have any information on this? I'm not familiar with how to do this.

[2015-12-25 00:11] jidanni commented on #358
Indeed, like
https://play.google.com/store/apps/details?id=jackpal.androidterm
whose configuration offers "character based" and "word based" input
method choice (but it doesn't seem to work. Still all word-based),
careful study of
http://developer.android.com/training/keyboard-input/style.html
would reveal a way for Connectbot to be able to be used with
https://play.google.com/store/apps/details?i

[2015-12-25 20:19] petyabest opened #359 "Pubkey authentication fails on Ubuntu servers"
I have 2 computers with Ubuntu 12.04 and OpenSSH pubkey-only authentication.

Both computer is accessible and both computer can connect to each other using public key authentication. Everything works fine.

However with ConnectBot I can't connect both of them. Public key was installed correctly, and I used it before with previous versions of ConnectBot.

Now I can connect to both computer from oth

[2015-12-25 20:32] petyabest commented on #359
Here is the logcat messages:

[2015-12-28 19:11] kruton commented on #352
I think this might be solved by 1.9.0-alpha2. I suspect that you're using ECDH key agreement and it fails randomly when used with a host using a key on a 521-bit curve currently.

[2015-12-28 19:14] kruton commented on #340
What port number were you trying to forward?

[2015-12-28 19:16] kruton commented on #357
No, this is not ConnectBot. ConnectBot does not have any BOOT hooks that would start it when you start the device.

That type of error usually comes from monitoring software such as Zabbix, Nagios, or others.

[2015-12-28 19:16] #357 closed

[2015-12-28 19:17] kruton commented on #353
Unfortunately there is no security-audited ed25519 implementation.

[2015-12-28 19:22] albeec13 commented on #352
I'll give 1.9.0 a whirl when it's released and report back.

[2015-12-28 19:23] albeec13 commented on #352
Sorry about that. Didn't mean to close the issue.

[2015-12-28 19:36] kruton commented on #352
Can you try https://github.com/connectbot/connectbot/releases/download/git-v1.9.0-alpha1-2-g0ab21d7/ConnectBot-git-v1.9.0-alpha1-2-g0ab21d7.apk ?

[2015-12-28 20:04] kruton commented on #359
Any more info you can give? Is this through a shortcut on the desktop? Over a 3G connection or WiFi?

[2016-01-02 05:44] Gerard987789 commented on #137
Try the following: press first Esc and than the desired function key.
For me it works.

Using HK version 1.37 and Connectbot 1.8.6.

[2016-01-02 18:01] badbetty opened #361 "all port forwards in list shown with a line through"
First up, my apologies if this is an incorrect avenue for posting 'issues' (of a i need help kind, please).
Additionally, I am posting what I originally posted in the VX forum and received no response. This issue occurs both with ConnectBot and also the VX version.

I am hoping for some responses to help me understand what is going on with port forwarding and some pointers on what and how I might

[2016-01-03 17:49] leonerd commented on #356
This seems to defeat the very security properties that a passphrase gives to a key. ConnectBot already allows you to store passphrase-less keys if you so wish.

The security that the passphrase adds is that anyone who discovers your phone and manages to unlock the UI cannot yet use the stored keys, without also knowing that passphrase. If CB were to apply it automatically, that would be no better

[2016-01-03 17:49] #356 closed

[2016-01-03 17:50] leonerd commented on #355
This is what keys are for. Create a public/private keypair on the device, then send the public part to the server to add in the `.ssh/authorized_keys` file. You can then protect the private half with a short passphrase which is easier and more convenient to type locally on the device.

[2016-01-03 17:50] #355 closed

[2016-01-03 17:52] leonerd commented on #201
Wrong Twll I'm afraid - the designer of the icon isn't a github user.
I could make some enquiries to see if I can obtain the original vector files though, so we could make such an adjustment.

[2016-01-03 17:54] leonerd commented on #74
Though that said - where on the UI would you like to actually display the title text, once you've pulled it out?

[2016-01-03 17:54] leonerd commented on #66
Probably a bug in the `DECSTBM` handling code. I'll have a hunt around.

[2016-01-03 17:59] leonerd opened #362 "Sometimes gets stuck forcing a particular profile on re-foregrounding"
I don't know exactly how to reliably reproduce this bug as it seems to be unreliable, but what sometimes happens when I have multiple connected hosts running, is that if I switch away to another application then back to connectbot (or even not away, just display the app menu then return to CB), connectbot will decide to switch to a particular one of those connected host profiles, even if that wasn

[2016-01-03 18:03] leonerd opened #363 "Inconsistent wifi- vs. mobile data disconnect behaviour"
There's an inconsistency (I hasten to call it a "bug" as yet) in how connectbot handles a network disconnect, depending on whether it was connected via wifi or mobile data.

On mobile network, a momentary outage of the data channel does not seem to upset connectbot (as well it ought not, being a regular TCP connection) - when data returns, the connection will soon recover and all is fine.

On wifi

[2016-01-03 18:17] twll commented on #201
@leonerd Correct @twll, actually ;) Just reading through the various threads now - what would the best change be?

[2016-01-06 15:37] wp9015362 commented on #201
@twll :

Thank you for chiming in.

Since https://github.com/connectbot/connectbot/issues/256, ConnectBot is now using the light blue color from the [Google Material Design Color Palette](https://www.google.com/design/spec/style/color.html#color-color-palette).

So I'd say it definitely would make sense to change the logo to also have this light blue color.

It also would make sense to adhere to t

[2016-01-07 01:11] jklein24 commented on #342
Friendly ping :-) - @kruton do we have enough translations yet?

[2016-01-07 01:12] #288 closed

[2016-01-07 07:29] JasperWeiss commented on #342
I could help with the Dutch translations

[2016-01-07 13:23] leonerd commented on #342
I've been playing around with a dev build of 1.9.0-alpha1 on my Galaxy Nexus and I definitely do not think it is ready for release yet. There are several regressions, things that are worse than 1.8.1. I'll write some bugs on those shortly.

[2016-01-07 15:20] wp9015362 commented on #342
@kruton & @jklein24 :

Any chance you could get https://github.com/connectbot/connectbot/issues/346 into 1.9 before releasing it?

[2016-01-08 19:03] #176 closed

[2016-01-09 00:11] drc0 opened #365 "Problem logging with non ascii characters in the password"

[2016-01-09 21:03] gerroon commented on #340
Hi
I cant get the port forwarding work either.  I can use commandline ssh like in L7171:127.0.0.1:7171 just fine. This forward can be used in any app that utilizes proxies. Dynamic socks works too in the terminal client but the same ports fail with Connectbot for me. I tried reversing remote and local thing in case I am making a mistake. That does not work either.

I tried these on Lollipop.

Than

[2016-01-13 01:05] mcdamo commented on #340
Tried random high ports such as 12345, like gerroon I also confirmed that forwarding ports with ssh commandline worked.

Now I've upgraded to a new rom and ConnectBot forwarding works again, so maybe it was a bug or incompatibility with old rom.

[2016-01-14 03:23] gerroon commented on #340
I see that Connectbot forwarding works on 5.1.1 but not on 5.0.1

[2016-01-14 03:50] ignatius333 opened #366 "ConnectBot and Sony Smartwatch 3"
Hi, as the title says, i'm running ConnectBot on the Smartwatch 3. The problem is, whenever my watch is paired to my phone via Bluetooth, I cannot connect with SSH or Telnet. However, when Bluetooth is disabled, I am able to connect. There are no valid settings on the watch, as far as Bluetooth settings go. So, my question is this: Is there some toggle or something on the phone that would allow me

[2016-01-15 17:56] roughnecks commented on #46
Sorry for opening this one up again.

I'm trying to connect to a host which resolves to both A and AAAA records and my problem is that I want to connect via IPv4, while ConnectBot only tries IPv6 and fails.
Is it just me? Thanks

[2016-01-20 20:34] ilf opened #368 "update connection history only on successful connection"
Currently, the connection history date is updated on any connection attempt, successful or not. It would be more helpful, if this were only updated on *successful* connections.

[2016-01-21 15:59] akalongman commented on #34
+1

[2016-01-21 23:44] zhhailon opened #369 "Leaking native memory in lower versions"
Native memory leaks every time I change password for pubkeys in Android 3.0 and  prior versions:
- Scenario: Press **MENU** button -- **Manage Pubkeys** -- Long click on a pubkey -- **Change password** -- Type in the correct old/new passwords -- **Change**.
- Meminfo: `adb shell dumpsys meminfo org.connectbot.debug` shows an increase of roughly 100 KB of allocated native memory each time one tries

[2016-01-21 23:49] jklein24 commented on #342
@leonerd, what were the bugs that you consider blocking for this release?

[2016-01-22 01:41] leonerd commented on #342
@jklein24 Primarily, on my Galaxy Nexus, the "autohide" feature is completely broken. If you opt to hide the title bar, you can't ever display it again. It just doesn't reappear. I keep meaning to write a proper bug for it - I'll do that then link it here.

[2016-01-22 01:43] jklein24 commented on #342
Ok, great. Thanks!

[2016-01-25 18:39] kruton commented on #90
Fixed by #370

[2016-01-25 18:39] #90 closed

[2016-01-25 18:39] kruton commented on #54
KEX fixed by #370 (keys also partially fixed by that for server-side keys)

[2016-01-25 18:40] kruton commented on #353
Server keys are now supported with #370

[2016-01-25 18:40] kruton commented on #53
Partial support (server-side keys) is available with #370

[2016-02-16 20:08] jabouillei commented on #359
I'm having the same problem.  I'm using 1.8.6 from google play.  Password based authentication works, but public key authentication does not.  (This problem seems specific ECDSA. For example, RSA 2432 works for me.)  I've tried with my phone on wifi and using my wireless carrier.  I've tried connecting to a couple of different hosts.  I've tried an ECDSA128 key and an ECDSA521 key.  As soon as I g

[2016-02-24 05:02] jnear commented on #214
To pick this up - I also have a bluetooth keyboard with standard function keys (they work as f1-f12 when connected to a computer) and they don't seem to work in Connectbot. Here is the debugging information that Connectbot prints for "f9":

I/CBKeyDebug( 6806): keyCode=139, event.toString=KeyEvent { action=ACTION_DOWN, keyCode=KEYCODE_F9, scanCode=67, metaState=0, flags=0x8, repeatCount=0, eventTi

[2016-02-28 01:30] trygveaa commented on #342
@leonerd: Does #375 solve your problem?

[2016-02-28 02:00] trygveaa opened #376 "Keyboard does not open when pressing keyboard button"
When pressing the keyboard button on the virtual keyboard row, the soft keyboard does not open (most of the time, see next paragraph). The only thing that happens is that the virtual keyboard row hides.

If you open a new session, close the soft keyboard and press the keyboard button before the virtual keyboard row hides for the first time, the button actually works and the soft keyboard opens aga

[2016-02-28 02:08] trygveaa opened #377 "Swipe to send page up/down does not work"
Even though I have checked "Page up/down gesture" in the settings, swiping on the left side of the screen does not send page up/down keys. It only scrolls the terminal, like the rest of the screen.

This is with the current newest master (c9682d3). The error was introduced by #277, as stated by @rhansby in #270.

[2016-02-29 12:31] alasdairdc opened #378 "Agent Forwarding"
Is it possible to allow Agent Forwarding when connected to a server like the command `ssh -At my_host`?  I tried the `Use SSH Auth agent` but this doesn't work / seems to be for something else.

[2016-03-06 22:55] trygveaa opened #380 "Doesn't remember host keys"
The first time I connect to a host with ssh, I get the message "The authenticity of host '\<domain\>' can't be established" and the question "Are you sure you want to continue connecting". This is normal.

However, with the newest master, this appears every time I connect to a host. Even though I select yes and establish a connection, the question reappears the next time I try to connect. I can't

[2016-03-06 22:57] kruton commented on #380
Hmm, must be a mismatch with sshlib. Thanks for the report.

[2016-03-08 18:57] jklein24 commented on #342
Ping again on this. It's been a pretty long time. @leonerd and @kruton, have your concerns been addressed?

[2016-03-08 20:45] leonerd commented on #342
Ooh, I'll retest it after 375 then.

[2016-03-11 18:33] jklein24 commented on #342
Hey @leonerd, have you been able to test this again? I'd really like to see the months worth of work on this pushed out to the public. It's certainly a major net positive in terms of usability.

[2016-03-11 18:37] leonerd commented on #342
Not yet. Unlikely before Monday at this rate, though maybe if I can have a quick 30second reminder of how I checkout/build/install it on a device I can take a look.

[2016-03-11 19:24] jklein24 commented on #342
You can grab the most recent alpha apk from https://github.com/connectbot/connectbot/releases/download/git-v1.9.0-alpha1-22-g31aa10b/ConnectBot-git-v1.9.0-alpha1-22-g31aa10b.apk. However, @kruton just warned me that https://github.com/connectbot/connectbot/pull/373 may have broken something with hostkeys where it always asks you to confirm. Apart from that, let us know if everything looks good.

[2016-03-11 22:10] trygveaa commented on #342
In addition to #380 (which is the issue for what @jklein24 mentioned in the previous commit), I think #376 should probably be fixed before a release (both is regressions from the current release).

[2016-03-12 05:42] #380 closed

[2016-03-12 10:41] sunnyqeen commented on #352
I also have the same problem. Tested with the alpha.
It's strange that after several retry, usually 3 times, you can connect successfully.
I use a password based sshserver.

 Connecting to 192.168.8.1:22 via ssh
Verified host 'RSA' key: ..........

Connection Lost
Key exchange was not finished, connection is closed.
Hostkey signature sent by remote is wrong!

[2016-03-14 06:26] RoundSparrow commented on #378
Perhaps not related - but what exactly does the "Use SSH Auth agent" option do?  What use is it, what problem does it solve?

[2016-03-14 06:46] RoundSparrow opened #382 "README for developers - why does the app utilize NDK / native code?"
I know the app has a long history - but looking at the source code, I'm not entirely clear why NDK / native code requirement exists.  Is there a library I'm not recognizing as native code?  Some particular bug in Java sockets of Android that going to c or c++ resolves?

Thank you.

[2016-03-14 07:10] kruton commented on #378
That's what it does. What type of key did you have loaded in ConnectBot? I just noticed that EC keys were not being handled correctly.

[2016-03-14 07:34] kruton commented on #382
Local shell requires native code to create a pty. The code for that is [here](https://github.com/connectbot/connectbot/blob/master/app/src/main/jni/com_google_ase_Exec.cpp#L80).

[2016-03-14 07:34] #382 closed

[2016-03-14 07:55] kruton commented on #376
I think this is because `TerminalView` was changed from `TextView` to just `View` which breaks the [forced showing of the keyboard](https://github.com/connectbot/connectbot/blob/381c4b65027c62fa87db6038fe6de5f4e46fe990/app/src/main/java/org/connectbot/ConsoleActivity.java#L568).

[2016-03-14 14:21] alasdairdc commented on #378
Yes I was trying this with EC keys.  Will update from master / rebuild and test

[2016-03-14 14:32] RoundSparrow commented on #382
Ok, thank you.

[2016-03-14 14:35] RoundSparrow opened #384 "Suggestion to revise project gitignore to remove Android Studio / IntelliJ cruft from source control"
Just opening the project in Android Studio 2.1 generates dozens of changes.

    .idea/ tree
    app/app.iml  file

[2016-03-14 14:57] alasdairdc commented on #378
Logging into the server and running `ssh-add -L` results in

    The agent has no identities.

Help identifies itself as `v1.9.0-alpha1-26-g8a904e8` with the host configured as `Use SSH auth agent` and `require confirmation`.

[2016-03-14 17:04] kruton commented on #378
It will only show loaded keys there, so if your key is show with a "locked" icon it will not list it as an identity.

[2016-03-14 17:07] kruton commented on #384
The problem here is that those folders contain style information among other things that make it easy to collaborate with multiple authors. Unfortunately, JetBrains doesn't appear to care that much about the cleanliness of this directory and the Gradle plugins to create IDEA or Android Studio projects don't work.

[2016-03-14 17:12] kruton commented on #352
Do you know what version of OpenSSH and OpenSSL you're using on the server?

In the meantime, could you try the updated alpha?

https://github.com/connectbot/connectbot/releases/download/git-v1.9.0-alpha1-26-g8a904e8/ConnectBot-git-v1.9.0-alpha1-26-g8a904e8.apk

[2016-03-14 17:12] alasdairdc commented on #378
Ah okay cool.  Just tested, and it shows if the key is explicitly unlocked before connecting,

As an aside on other hosts 'AgentForwarding is disabled and I normally (on Laptop) connect using the proxy command:

    ProxyCommand ssh -q -W %h:%p jumper

Due to the firewall rules no abnormal ports can be opened.  I'm sure this is possible in ConnectBot using port forwards but am unsure how.  Any poi

[2016-03-14 17:44] RoundSparrow opened #385 "Race condition HostListActivity menu inflation pulls from service - NullPointerException / App crash"
I encountered this on a freshly booted fast device (Nexus 6 with 3GB of RAM). First run after APK install.  So it might not have been seen on slower systems.  It doesn't happen every time...

In my situation, I had zero hosts on the lists. The system was virgin for the app, again - fresh APK install.

HostListActivity.java method **onPrepareOptionsMenu** looks for **bound.getBridges().size()**

If

[2016-03-14 20:58] RoundSparrow commented on #384
But isn't that one-time for the person first setting up the project (the first minutes of the project)?  A solution for that  could be to establish a directory with templates, and even a script to copy them into the working directories (and put that information in a DEVELOPER_README.txt, linked off the main README)

Vs. now every time I switch between my laptop and desktop development system - the

[2016-03-14 21:42] RoundSparrow opened #386 "Discussion: host list and "x minutes ago" - green dot"
Is there some documentation on the design of this?  if not - can someone explain the intention.

I put my Android phone in Airplane mode. No possible way to reach the Internet - and then I press a host - it tries to connect.  Now the host entry shows a green dot - and says "0 minutes ago".

All it really is telling me is that I touched it.  As it never connected - again - I'm i airplane mode.  is

[2016-03-14 21:48] RoundSparrow commented on #363
FYI: I opened Issue #386 - as the current source here on Github - if I put a phone in Airplane mode - and press a host - it blindly connects and believes it is an authentication failure.

I'm currently working on adding features to make Connectbot auto-connect on system boot. So I'm trying to read up on what intelligence the software has regarding changes in Wifi / Mobile connectivity, etc.

[2016-03-14 23:38] sunnyqeen commented on #352
I use it with openwrt 14.07 internal dropbear ssh server.
 Dropbear server v2014.63 https://matt.ucc.asn.au/dropbear/dropbear.html

[2016-03-15 01:40] jklein24 commented on #386
I think @khorimoto might know what's expected here.

[2016-03-15 01:41] jklein24 commented on #376
Hmm... @kruton do you have any solution in mind for this? I'm happy to try to patch a fix in since @rhansby is out of town.

[2016-03-15 21:52] RoundSparrow opened #387 "HostListActivity onHostStatusChanged gets stuck? when WiFi turned off with connected HOST session"
Let me preface this by saying I'm not complaining or saying that this behavior interferes with routine users of the App.  That said, I'm hoping some developer on the project is interested in these topics and can take a few minutes to try this out.

I am testing the current app code (here on github) by creating one host entry with a single dynamic SOCKS forward.  The Host entry is set to RECONNECT

[2016-03-15 22:32] RoundSparrow commented on #387
Looking at the Thread names closer, I see that it had a generic name I overlooked!  Indeed, it is *not* the main thread.  So changing the code to this seems to fix the problem:

	public void onHostStatusChanged() {
		Log.d(TAG, "onHostStatusChanged calling updateList " + Thread.currentThread());
		mListView.post(new Runnable() {
			@Override
			public void run() {
				updateList();
				Log.d(TAG,

[2016-03-15 23:52] RoundSparrow opened #388 "SSH.java NullPointerException App crash - if disconnect during authentication"
// Display the reason in the text.
			Throwable t = e.getCause();
			do {
				bridge.outputLine(t.getMessage());
				t = t.getCause();
			} while (t != null);

1 out of 10 times or so I am able to get this code to crash the entire app due to a  NullPointerException when it tries to call outputLine(null).

Isn't this do...while loop structured to only test for null the second time the loop goes aro

[2016-03-16 01:17] belg4mit commented on #343
I find this an annoying misfeature that marrs an otherwise wonderful tool. What about lines that are soft-wrapped, it seems like those should be trivial to detect, yet it does not.

What if one pre-selected a region, and URL-scan could then know to find the longestreasonable URL in the selection?

[2016-03-16 01:20] belg4mit opened #389 "Feature Request: Long-press URL scan to share"
Sometime I don't want open a URL in the default browser, but wish to use another, or email it. If one long-pressed a URL result, it would be nice to then invoke the Android sharing interface.

[2016-03-16 10:44] RoundSparrow opened #390 "SecureRandom - Android bug workaround absent? PRNGFixes for Jelly Bean (4.1, 4.2, 4.3)"
Working with the source code, I found no reference to the fix that Google published for secure apps:

http://android-developers.blogspot.com/2013/08/some-securerandom-thoughts.html

Was it overlooked?

[2016-03-16 20:37] JasperWeiss commented on #342
I love the new design :)

[2016-03-18 20:57] 104012 opened #391 "High CPU usage when 'Start shell session' disabled"
Hi all,

When I disable 'Start shell session' in the 'Edit host' section, the CPU usage of ConnectBot becomes quite high, about ~18%. Same when there are no tunnels present. This causes some significant battery drain.

As far as I know, the problem exists in both version 1.85 and 1.86 from the F-droid repo.

[2016-03-21 06:00] storm32 commented on #351
I encountered this same problem.  I was shocked to see my private keys on my new Android device realizing third parties, Google in this case, had access to my keys.

I agree with cruvolo where keys should not be backed up by default.

[2016-03-23 13:40] JasperWeiss opened #392 "Tor/Proxy support"
I prefer to use a Tor hidden service for SSH since it's more secure in that I know for certain (almost) that the host is what it says it is. It also takes away the need for port forwarding etc.
Could you guys implement a simple 'use Tor' checkbox option in settings? (So that traffic is routed through the orbot app proxy on local host:9050)

[2016-03-23 13:40] JasperWeiss commented on #392
Much like the 'Use Tor' option in F-Droid

[2016-03-24 15:12] kaorihinata commented on #391
I can confirm this issue. It's actually been around for quite some time.

[2016-04-05 12:47] frankFic opened #394 "Misuse of setShowAsAction(int)"
Dear developer of connectbot,

I have found that you used
menu.add(0, COPY, 0, R.string.console_menu_copy).setShowAsAction(MenuItem.SHOW_AS_ACTION_WITH_TEXT | MenuItem.SHOW_AS_ACTION_IF_ROOM);
on line 356 in org.connectbot.util.TerminalTextViewOverlay.

However method setShowAsAction(int) was introduced in API 11([API guide](http://developer.android.com/intl/zh-cn/reference/android/view/MenuItem.h

[2016-04-05 15:52] kruton commented on #394
That is called in onCreateActionMode which is only called starting in API
11, so there appears to be no problem.
On Apr 5, 2016 05:47, "Lilie" <notifications@github.com> wrote:

[2016-04-08 11:30] ghost opened #395 "Scale key size slider for EC keys"
For EC keys the only possibilities are 256, 384, and 521. It looks a little strange how the largest possible key size is not at the rightmost part of the slider, the options are very close to each other.

[2016-04-27 10:27] haraldg commented on #352
I too have this problem. Also with dropbear and password authentication. So far I have not been able to connect at all.

[2016-04-27 23:16] shodanx2 commented on #352
I'm getting the same issue,Hostkey signature sent by remote is wrong

[2016-04-29 17:53] #394 closed

[2016-05-05 20:20] GoTeamAnt opened #396 "mDNS / Avahi / Bonjour / Zeroconf support"
Hi,

I would like to access my workstation (linux.local) with ConnectBot using the mDNS name.

Currently ConnectBot is unable to resolve the hostname.

I assume the configuration on my workstation is correct, because if I use a zeroconf browser from the play store it is correctly discovered. Connecting with the ip address is also working.

[2016-05-10 07:26] fpiris opened #397 "sign_and_send_pubkey: signing failed: agent refused operation"
I login on a server (fpirisp) without problems with connectbot. But if I try to ssh to it again from the command prompt (having agent enabled on connectbot) it refuses to login using the agent with the error

sign_and_send_pubkey: signing failed: agent refused operation

The ssh keypair is configured correctly (if it weren’t it would not let me login from connectbot). And the agent in connectbot i

[2016-05-10 15:45] kruton commented on #397
It's probably `server-sig-algs=<rsa-sha2-256,rsa-sha2-512>` which our sshlib doesn't support yet, but I'll add support.

[2016-05-11 23:00] kruton commented on #397
Reported the issue upstream to OpenSSH and there is now [an OpenSSH bug open](https://bugzilla.mindrot.org/show_bug.cgi?id=2568).

[2016-05-12 06:38] fpiris commented on #397
Thanks!

[2016-05-12 16:35] MichaelRumpler opened #398 "pass password in a url"
I try to open ConnectBot with a link on a web page. It opens and connects to the server when my link looks like

               ssh://user@host:port/

But I still have to type the password. How can I pass it to ConnectBot?
This does not work:

               ssh://user:pwd@host:port/

Is there also a way to pass a key file (either as base64 or the file path/url)?

We have a global web page which o

[2016-05-18 22:11] treakiandroid opened #399 "no changelog on fdroid"
Please add an version changelog to the fdroid repo.

Thanks

[2016-05-18 22:29] treakiandroid commented on #399
!(http://treaki.tk/upload/uploads/1463610433/screenshot-1463609531937.png)
As you can see no changelog at all

[2016-05-18 22:47] mrc0mmand commented on #399
I guess you have an old version of fdroid. Newer versions have a subset of links, where one of them points directly to the [changelog](https://sumsal.cz/img/Screenshot_2016-05-19-00-44-20.png).

[2016-05-19 14:49] MichaelRumpler commented on #398
This is currently not supported. Changes would have to be made (at least) in
- HostBean
- transport.SSH.authenticate

I don't know if you consider this a security risk. IMHO it is not, but I don't want to implement something which will not be regarded anyway, so I won't do it yet.

[2016-05-29 17:37] fishsoupisgood opened #405 "support nfc hardware tokens [working prototype]"
I have a working prototype of authentication using a yubikey neo. Patches here:

http://git.panaceas.org/cgit.cgi/connectbot-yubikey

write-up here:

http://wordpress.panaceas.org/wp/index.php/2016/05/29/ssh-with-yubikey-neo-on-android/

The openkeychain maintainers have stated:
 «We would definitely include the API call (with some modifications and also made to work with regular keys) in OpenKeyc

[2016-05-29 17:42] kruton commented on #405
I've been wanting to allow ConnectBot to use other apps as SSH agents. This might be a good reason to modify the `sshlib` interface to accommodate such usage. The current SSH agent interface doesn't really work for smart-card-type agents.

[2016-05-31 03:48] kruton commented on #399
I don't control fdroid.

[2016-05-31 03:48] #399 closed

[2016-05-31 17:00] jplitza commented on #405
Somebody really should define an universal interface for SSH agents on Android, and it might just as well be you! 😉

From a user's perspective, I'd love to see these features:
* Possibility of confirming every single key usage in a dialog.
* Choose which agent to use like you choose which browser to use for opening an URL.

So probably a server would simply register an activity for an intent of a

[2016-05-31 21:42] kruton opened #409 "In Edit Host focus is not handled correctly"
Clicking on Nickname input, then clicking on a toggle checkbox near the bottom scrolls the screen back up to the Nickname input.

It appears the checkboxes and other things are not focusable so they probably don't work with accessibility either.

[2016-06-03 06:55] #385 closed

[2016-06-04 00:16] kruton opened #411 "NPE in Relay found during test run"
E/AndroidRuntime( 1690): FATAL EXCEPTION: Relay
E/AndroidRuntime( 1690): Process: org.connectbot.debug, PID: 1690
E/AndroidRuntime( 1690): java.lang.NullPointerException: Attempt to invoke virtual method 'java.lang.StringBuffer java.lang.StringBuffer.append(char[], int, int)' on a null object reference
E/AndroidRuntime( 1690):        at org.connectbot.TerminalView.propagateConsoleText(TerminalView

[2016-06-04 05:21] #411 closed

[2016-06-05 06:04] kruton commented on #409
Fixed by #410

[2016-06-05 06:04] #409 closed

[2016-06-06 02:40] oneru commented on #376
Not sure if related, but on the latest beta the terminal is sometimes hidden behind the keyboard.  To replicate, connect, run "ls" or similar command so the screen fills with text, then tap on the terminal.  The keyboard isn't hidden, but the text moves behind it, hiding the bottom rows of text.  Observed on an Nvidia shieldtablet.

[2016-06-06 02:46] oneru commented on #355
@leonerd While your answer is technically correct, an option to save passwords would be useful.

[2016-06-06 04:30] alescdb commented on #376
Same as @oneru here except I've got an FC every time I touch the console:

06-06 06:19:03.210  8254  8254 E AndroidRuntime: FATAL EXCEPTION: main
06-06 06:19:03.210  8254  8254 E AndroidRuntime: Process: org.connectbot, PID: 8254
06-06 06:19:03.210  8254  8254 E AndroidRuntime: java.lang.StringIndexOutOfBoundsException: length=127; index=127
06-06 06:19:03.210  8254  8254 E AndroidRuntime: 	at jav

[2016-06-06 04:44] alescdb commented on #376
Fixed for me in git-v1.9.0-alpha1-90-g560f894
Sorry

[2016-06-06 04:52] kruton commented on #376
Yeah, different bug I just introduced. Should be fixed with #414 and #415.

[2016-06-06 05:35] oneru commented on #376
I observed the problem I described in the git-v1.9.0-alpha1-90-g560f894 apk.

[2016-06-08 11:16] leonerd opened #420 "Menu overlay redrawing broken with altscreen"
When using an altscreen application (e.g. screen with the altscreen option turned on), the menu overlay and related drawing code often gets it wrong on the latest development source.

In regular operation it's fine, but if you have menu bar autohide turned on then quite often you end up accidentally seeing the regular screen buffer, not the altscreen buffer, underneath those overlays. This is espe

[2016-06-08 20:26] #299 closed

[2016-06-15 17:20] leonerd opened #427 "Latest develop breaks certain Alt-{letter} keys"
(TODO: I'm testing this on Hackers' Keyboard. I'll adjust the bug later when I get home to clarify whether it's HK-specific or also happens with physical USB hardware keyboards).

On recent development build (v1.9.0-alpha1-95-gd08402a-dirty) certain combinations of Alt+letter don't work properly.

 * Non-letter symbols (e.g. numbers, punctuation like -, +, etc..) work as expected.
 * Some letters

[2016-06-24 21:18] sk8nfool opened #428 "Please add equivalent to ssh-copy-id to public key manager"
Please add equivalent to ssh-copy-id to public key manager and connection menu.

(I mistakenly created this issue on the website project)

[2016-06-27 08:54] TheWug commented on #359
I also experience this. I'm using a 521 bit EC key generated and used on connectbot 1.8.6 and android 6.0.1.

Here is the key it generated:
ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAEEC0Axp2hKU7BaB43bGSSLAjyzjrumnRJBbuEdQbCVkSULMBtrao23L2xgOowqyfZ/FWywF2csOZNRt4y+q/XBygC+6p9PPgHoSR8gVVnWdQD+nzeLUxO0DhgBylw06Zw73POIgUtiUa6cNYHdZadP53ckYJ/hoJjOhTv8gp5GB/i9TA== Phone p

[2016-07-03 19:00] xDragonZ commented on #352
Original trilead source code doesn't have this issue, looks like it happens with sha1

[2016-07-05 00:48] kruton commented on #352
You mean when `diffie-hellman-group-exchange-sha1` is used?

[2016-07-05 02:19] xDragonZ commented on #352
Here's the info, it happens randomly with dropbear. I'll let you know again if there any new findings on this.

Key exchange algorithm: diffie-hellman-group14-sha1
Using algorithm: aes256-ctr hmac-sha1-96

[2016-07-06 08:39] abinashdash17 opened #429 "keys generated using CB shows parsing error when imported on other device"
First i generated rsa 2048 key on my 1st device without any passphrase using CB. Then copied the private key to clipboard and created a file `rsa_id`. No error showed up when i imported the key using pub key manager.

But when i transferred the file to 2nd android device and tried to import the keys 'problem parsing imported private keys ' error showed up..

Both android devices are using same ver

[2016-07-07 01:16] kruton commented on #429
How are you transferring the private keys?

[2016-07-07 05:35] abinashdash17 commented on #429
Tried both bluetooth and wifi(xender). None of them worked.

[2016-07-07 05:38] kruton commented on #429
I mean how are you exporting the private keys that were generated in ConnectBot? As far as I recall, that is not enabled.

[2016-07-07 05:39] abinashdash17 commented on #429
1 more thing. bluetooth didn't allowed file w/o extension so i renamed it to rsa_id.txt and then again renamed back to rsa_id.

[2016-07-07 05:41] abinashdash17 commented on #429
I'm copying the private key and pasting it to a file.

[2016-07-07 05:59] abinashdash17 commented on #429
Manage pub key->generated key menu->'copy private key'

[2016-07-14 13:30] CyberShadow opened #430 "Add pinch-to-zoom"
ConnectBot VX allows changing the font size dynamically by using a pinch gesture. This feature can be quite useful when changing display orientation or effective area when moving to/from a hardware keyboard.

ConnectBot VX implementation: https://github.com/vx/connectbot/commit/3f4dd22becd5e0cd033ba4e5b574c15acd241a6d

[2016-07-14 13:39] CyberShadow opened #431 "Add right-click support (for physical mice)"
Currently, right-clicking on a physical (USB/Bluetooth) mouse has the same effect as the "Back" soft-key. It would be nice if it would send a right-click instead (so that e.g. in Midnight Commander, it would tag files).

I did some related work in ConnectBot VX, here: https://github.com/vx/connectbot/commit/592d9c3a330723b42ea6d21f38cd43aa8c4e84bd

[2016-07-14 13:42] CyberShadow opened #432 "Add shifted arrow keys"
Currently, ConnectBot ignores the Shift key state when processing arrow keys. Shift + arrow keys is commonly used to select text, e.g. in Emacs and mcedit.

I fixed this in ConnectBot VX, here: https://github.com/vx/connectbot/commit/274e2574139da337528f3b0bf665a266130e161b

[2016-07-14 13:44] CyberShadow opened #433 "Esc key on hardware keyboards"
Hitting the Esc key on a physical keyboard should send the ANSI escape code, instead of working like the Android "back" button.

I fixed this in ConnectBot VX, here: https://github.com/vx/connectbot/commit/d37065223693cf0631cf8522b6b0bf87518a5c0d

[2016-07-14 13:50] CyberShadow opened #434 "F keys don't work"
Function keys (F1..F12) don't seem to work at all with current master (6ab5fd770ebecf564e0252bd5bd71e13b2372667).

I tested in Midnight Commander, with both a physical keyboard and Hacker's Keyboard, with the xterm-256color and screen emulation modes.

[2016-07-29 13:08] puggan commented on #74
It whould be ok, to just ignore it, right now, when its visible in the promt, it's just anoying.
On a tablet, there is space avaible on the top row, between "[ ]ConnectBot" and "MORE", there could be a good place, defulting to the user@host from the connection, and update when a title is found from PS1

[2016-08-08 10:15] kruton commented on #429
Ah, it looks like importing it is generating an `RSAPrivateKey` and it should be generating an `RSAPrivateCrtKey`.

[2016-08-10 00:33] #429 closed

[2016-08-11 00:32] matmarcha opened #436 "issue connecting an ssh server with 2 factor auth (google authenticator)"
Hello,
After I installed and activated [pam_google_authenticator.so](https://github.com/google/google-authenticator) PAM module on my linux SSH server, I cannot use connectbot (It works great with other SSH clients).
Basically I get prompted the first verification code in connectbot and after I send it back there is nothing (I cannot enter my password - the second factor).

Any ideas? Maybe I am d

[2016-08-13 18:36] Marcel-Robitaille opened #437 "Copy result of last command"
The implementation of copy is really quite unusable. With my big thumbs it is hard to select the text I want to copy. I would like to see an option to copy the output of the most recent command or at least an implementation of copy/text selection more like android's where I can move the start and end cursors before copying.

[2016-08-14 09:14] loonycyborg commented on #392
There is a PR against vxconnectbot: vx/connectbot#105
Unfortunately VX connectbot seems unmaintained and that PR can't be just applied to original connectbot, since it requires changes to trilead ssh2(it doesn't support socks proxies upstream) which connectbot uses as third party dep and vx connectbot was embedding in the source.

[2016-08-20 10:45] jvalencia80 opened #438 "Default command won't execute on connect"
It will be showed on screen and you just have to press Return to execute it.

Is this a bug?

[2016-08-20 13:12] leonerd commented on #438
Put the linefeed in the command box. That's so you can have multiple commands.. or script some sort of menu system that doesn't want a linefeed at the end.

[2016-08-20 13:12] #438 closed

[2016-08-20 14:07] jvalencia80 commented on #438
I don't get it, that's not standard ssh behaviour and it's not stated anywhere that you require a linefeed at the end. I've tried other ssh clients and only ConnectBot do this.

So you're not using the built-in ssh command execution but just printing a command and let it run with a linefeed?

[2016-08-20 19:01] leonerd commented on #438
Correct; this is implemented by injecting all the keystrokes into the terminal at the far end, rather than running it as a separate command. It means that the "script" can interact even with interactive programs on the far end, rather than simply executing them.

[2016-08-21 21:14] wp9015362 commented on #342
@kruton @jklein24 @bengolds @rhansby @khorimoto :

Any update? 1.9.0-alpha1 was released almost a year ago... Do you really wanna let all the commits rot on GitHub forever? How about calling it version 2.0 and releasing it with the new Material design now and calling it a day?

:stuck_out_tongue_winking_eye:

[2016-08-22 12:43] jvalencia80 commented on #438
Sorry for opening this again, but I have another issue with this.

So I added the return at the end and it worked as you said, but when my menu script exits, it doesn't close the connection.

In the standard way (ssh host command), it will disconnect when the command ends.

So I added this: `myscript.sh && exit\n`

It worked, but after exit executes and disconnects, it still asks to keep the conne

[2016-08-22 12:49] jvalencia80 commented on #438
deleted last comment, sorry for opening it again. Everything working now ;)

[2016-08-22 17:09] jklein24 commented on #342
+1. @kruton is the only one who can make the release, though. It's been 1 year and 634 commits since the last release. I agree it's time :-).

[2016-08-24 10:25] Tony-il-Capo commented on #256
Hi
Sorry for reopening this but I think this new theme suck. I've installed last release from here to get the last fixes but had to get back to v1.8.7 (fdroid).

My device is a Lt26i (aka Sony Xperia S) and with this theme I can't see/read properly many input text boxes, like url, passphrase, etc... that blue background shadow on those input boxes messes everything.
I have also problems with inter

[2016-08-24 21:46] Tony-il-Capo opened #439 "Reconnecting after short network connectivity loss"
Hi
ConnectBot completely fails re-connecting when network connection drops and then reconnects back on again. This happens mostly when driving/walking through areas with bad coverage.

Observing the app when this happens I can see it tries to reconnect right after connectivity loss, this obviously makes it fail (no route to server), then, when network is on again, because it failed connecting once

[2016-08-28 21:07] fcerbell opened #440 "Add Bluetooth terminal"
It would be nice to use connectbot as a terminal with Bluetooth connection to test and debug arduino code with Bluetooth module.

[2016-08-30 08:52] dkaparis commented on #146
What is the status on this issue? I just noticed that my defined hosts together with on-device private keys got replicated to a new Android Marshmallow device I installed Connectbot 1.8.6 on.

[2016-08-31 09:49] tornewuff commented on #146
So just to be clear: M did not change anything here, because ConnectBot already has a backup agent, and so full data backup will not be used, no matter what.

ConnectBot has *always* backed up all its data (including private keys) via the backup agent, on any OS version with backup enabled systemwide. It should probably be clearer about this, and allow it to be disabled (see #351 for that I guess,

[2016-08-31 09:49] #146 closed

[2016-08-31 10:49] fat-tire commented on #146
@tornewuff putting notification to the user/allowing them to opt-out aside as a separate issue (#351) , can you explain why do you think uploading private keys should be the expected default behavior?  What SSH client includes off-device private key backup?  Especially one that doesn't use SSH itself for the transport mechanism, and uses a completely unknown encryption method overseen entirely by

[2016-08-31 11:23] tornewuff commented on #146
Whether it should be the default is also #351 - that is the title of that issue. This bug was filed about concerns with changes to the backup system in android 6.0, and that's resolved - the changes do not affect connectbot.

[2016-09-05 02:48] #351 closed

[2016-09-05 03:02] cruvolo commented on #351
Thank you for addressing this.

[2016-09-11 12:02] fox0001 commented on #358
@jidanni Hey, guy! I also need this!

[2016-09-24 18:15] DwordPtr commented on #52
Third. This would be amazing.

[2016-09-26 21:34] #376 closed

[2016-09-26 21:34] #164 closed

[2016-09-27 16:02] immutability commented on #359
I'm not sure if I'm seeing the same issue, but I also cannot use key authentication with ConnectBot when connecting to Raspbian. Tried with the existing keys (used on a PC) or with the ConnectBot-generated keys but none worked. It does recognize the key (although on my existing keys it reports bit strength as unknown) and unlocks them after passphrase is entered. Unlike the original report, what I

[2016-09-27 16:04] kruton commented on #359
Which type of keys are you using?

[2016-09-27 16:38] immutability commented on #359
@kruton I'm not very faimiliar with the topic but here's what I could find: the main one I'm regularly using from PC and tried to use in CB is *ssh-rsa 2048* bits. I no longer remember how it was generated but it's in openSSH format. The CB pubkey manager reports it as `"RSA unknown-bit"`. The one I generated in CB is also *ssh-rsa 2048*, but CB correctly reports it as `"RSA 2048-bit (encrypted)"`

[2016-09-27 20:45] sunnyqeen commented on #352
Tested with git-v1.9.0-alpha1-153-gac52eff release.
The problem is solved.
Thanks 👍

[2016-09-27 22:01] alugarius commented on #396
Same problem here

[2016-09-29 01:43] justinnamilee commented on #359
I am currently getting this issue with a 2048 bit SSH-RSA key.  I get the same sequence of events as the original poster, I can see the session start to open, then my auth.log shows a

 and it says connection closed on CB.

Running a Nexus 6p, straight from Google, up to date with newest CB on PlayStore.